@font-face {
  src: url("fonts/Caviar Dreams/CaviarDreams-webfont.eot");
  src: url("fonts/Caviar Dreams/CaviarDreams-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Caviar Dreams/CaviarDreams-webfont.woff") format("woff"), url("fonts/Caviar Dreams/CaviarDreams-webfont.ttf") format("truetype"), url("fonts/Caviar Dreams/CaviarDreams-webfont.svg#CaviarDreams") format("svg");
  font-family: "CaviarDreams";
  font-weight: "normal";
  font-style: "normal"; }

@font-face {
  src: url("fonts/Caviar Dreams/Caviar_Dreams_Bold-webfont.eot");
  src: url("fonts/Caviar Dreams/Caviar_Dreams_Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Caviar Dreams/Caviar_Dreams_Bold-webfont.woff") format("woff"), url("fonts/Caviar Dreams/Caviar_Dreams_Bold-webfont.ttf") format("truetype"), url("fonts/Caviar Dreams/Caviar_Dreams_Bold-webfont.svg#CaviarDreams") format("svg");
  font-family: "CaviarDreams";
  font-weight: "bold";
  font-style: "normal"; }

@font-face {
  src: url("fonts/Caviar Dreams/CaviarDreams_Italic-webfont.eot");
  src: url("fonts/Caviar Dreams/CaviarDreams_Italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Caviar Dreams/CaviarDreams_Italic-webfont.woff") format("woff"), url("fonts/Caviar Dreams/CaviarDreams_Italic-webfont.ttf") format("truetype"), url("fonts/Caviar Dreams/CaviarDreams_Italic-webfont.svg#CaviarDreams") format("svg");
  font-family: "CaviarDreams";
  font-weight: "normal";
  font-style: "italic"; }

@font-face {
  src: url("fonts/Caviar Dreams/CaviarDreams_BoldItalic-webfont.eot");
  src: url("fonts/Caviar Dreams/CaviarDreams_BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Caviar Dreams/CaviarDreams_BoldItalic-webfont.woff") format("woff"), url("fonts/Caviar Dreams/CaviarDreams_BoldItalic-webfont.ttf") format("truetype"), url("fonts/Caviar Dreams/CaviarDreams_BoldItalic-webfont.svg#CaviarDreams") format("svg");
  font-family: "CaviarDreams";
  font-weight: "bold";
  font-style: "italic"; }
