#container {
    position: relative;
}

#mfDiv {
    position: absolute;
    bottom: -470px; /*rendere universale*/
    height: 9px;
    background-color: rgba(255, 0, 0, 0.5);
    z-index: 5;

    pointer-events: none;
    border-radius: 2px;
}


#video {
    position: absolute;
    z-index: 2;
}

.mejs-time-loaded {
    background-color: rgb(0, 255, 0);
}