<div class="container-fluid">
    <div class="row">

        <%
        var chapterList = [

            {
                title: 'Chapter 1',
                timing: '0:00:23 - 0:00:49',
                hash: '#t=0:00:23,0:00:49'
            },
            {
                title: 'Chapter 2',
                timing: '0:03:11 - 0:04:43',
                hash: '#t=0:03:11,0:04:43&xywh=pixel:160,95,319,305'
            },
            {
                title: 'Chapter 3',
                timing: '0:06:11 - 0:08:43',
                hash: '#t=0:06:11,0:08:43'
            }
        ];
        %>

        <!--<div class="chap-list">-->
        <div class="col-md-2"></div>
            <% chapterList.forEach(function(chap){ %>
            <div class="col-md-2">

                <div class="chap-link">
                    <h3><%= chap.title %></h3>
                    <div class="chap-timing">
                    <h4><%= chap.timing %></h4>
                        </div>
                </div>
            </div>
            <% }) %>

        <!--</div>-->
    </div>
</div>