<div class="container-fluid">
    <div class="row">

        <%
        var chapterList = [

            {
                uuid: '44255f5a-8a4f-444d-a142-4074a5d52bf3',
                title: 'Middle East loves to laugh',
                timing: '0:00:23 - 0:00:49',
                hash: '#t=0:00:23,0:00:49'
            },
            {
                uuid: '44255f5a-8a4f-444d-a142-4074a5d52bf3',
                title: "Something about Middle East",
                timing: '0:03:11 - 0:04:43',
                hash: '#t=0:03:11,0:04:43&xywh=pixel:160,95,319,305'
            },
            {
                uuid: '44255f5a-8a4f-444d-a142-4074a5d52bf3',
                title: "Something about Middle East",
                timing: '0:06:11 - 0:08:43',
                hash: '#t=0:06:11,0:08:43'
            }
        ];
        %>

        <!--<div class="chap-list">-->
        <div class="col-md-2"></div>
            <!--<% chapterList.forEach(function(chap){ %>-->
            <div class="col-md-2">

                <div class="chap-link">
                    <!--<h4><a href="/video/<%= chap.uuid %>"></a></h4>-->
                    <p> CHAPTER 1</p>
                </div>
            </div>
            <!--<% }) %>-->

        <!--</div>-->
    </div>
</div>