<div id="entity-sect">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-9 col-xs-8">
                <hr class="red_rule">
            </div>

            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                <h1 class="title">entities</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">


                <div class="entity-content">
                    <h4 class="extractor">In this video there are <span class="totEnt"></span> entities extracted
                        by <span class="extEnt"></span></h4>

                    <div class="template-list-rows"></div>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/html" id="templateType">
    <div class="row">
        <div class="col-md-3 col-sm-3 entityType">

            <h4 class="entTypeText" data-content="typeAndOccurrences"></h4>
        </div>
        <div class="col-md-9 col-sm-9 entityList">
            <ul class="displayEntity">
            </ul>
        </div>
    </div>
</script>


<script type="text/html" id="templateEnt">
    <span class="entity list">
            <a data-content="entA"></a>
       </span>
</script>