<footer>
  <a href="http://www.eurecom.fr" title="EURECOM" class="logo">
    <img src="/img/logos/eurecom_logo.png"/>
  </a>
  <a href="javascript:" title="LinkedTV" class="logo">
    <img src="/img/logos/linkedtv_logo.png"/>
  </a>
  <a href="http://www.mediamixer.eu/" title="Media Mixer" class="logo">
    <img src="/img/logos/mediamixer_logo.png"/>
  </a>
  <a href="http://www.tagasauris.com/" title="tagasauris" class="logo">
    <img src="/img/logos/tagasauris_logo.png"/>
  </a>
</footer>

<script src="http://code.jquery.com/jquery-2.1.0.js"></script>
<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> -->
