<nav class="navbar" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <div class="navbar-default">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <a class="navbar-brand" href="/HyperTED">
                <span class="top-brand">
                   <img class="left-mark" src="/HyperTED/img/logos/left_mark.png">
                   <img class="logo-text" src="/HyperTED/img/logos/hTedLogo_big_text.png">
                   <img class="right-mark" src="/HyperTED/img/logos/right_mark.png">
                </span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-right" method="get" action="/topicsearch" id="topic-form" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <input name="topic" type="text" placeholder="Search by topic" required class="form-control">
             <span class="input-group-btn">
                    <button class="btn btn-danger" type="submit">Go!</button>
             </span>
                    </div>
                </div>

            </form>
        </div>
        <!-- /.navbar-collapse -->

    </div>
    <!-- /.container-fluid -->
</nav>

<nav class="navbar navbar-placeholder"></nav>
