<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-5">
            <hr class="red_rule">
        </div>

        <div class="col-lg-6 col-md-6 col-sm-4 col-xs-5">
            <h1 class="title">watch also</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">

            <div id="playlist-sect">
                <p class="invite">click on Nerdify for having suggestion about chapters</p>

                <p class="loading">
                    <img src="\img\ajax-loader.gif">
                    loading suggested chapters
                    <img src="\img\ajax-loader.gif">
                </p>

                <p class="no_ent">this chapter has no entity. </br>Please, choose another one</p>


                <ul class="video-list" id="suggestedVideoList">
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="suggTedChap">
    <li class="video-link" data-template-bind='[
     {"attribute": "data-uuid", "value": "uuid"}]'
            >
        <div class="content">

            <h4 class="playlist_title">
                <a data-href="href" data-title="title" data-content="title"></a>
            </h4>
            <a class="thumb-cont" data-href="href" data-title="title">
                <img data-src="thumb" class="thumb" data-alt="title"></a>
            <ul class="frag-list">
            </ul>
        </div>

    </li>
</script>

<script type="text/html" id="fragLi">

    <li class="frag-link">
        <a data-href="href" data-content="content"></a>
    </li>
</script>
