<ul class="video-list" id="suggestedVideoList"></ul>

<script type="text/html" id="suggTedChap">
  <li class="video-link" data-template-bind='[{"attribute": "data-uuid", "value": "uuid"}]'>
  <div class="content">

    <h4 class="playlist_title">
      <a data-href="href" data-title="title" data-content="title"></a>
    </h4>
    <a class="thumb-cont" data-href="href" data-title="title">
      <img data-src="thumb" class="thumb" data-alt="title"></a>
      <ul class="frag-list">
      </ul>
    </div>

  </li>
</script>

<script type="text/html" id="fragLi">
  <li class="frag-link">
    <a data-href="href" data-content="content"></a>
  </li>
</script>
