<%
if (videoInfo.sub) {
    var strList = videoInfo.sub.split('\n\n'), subList = [];
    var charIndex = -1;
%>
<div class="sub-text <% if (enriched) { %>enriched<% } %>">
    <%
        for (var index in strList) {
            var sub = {text: '', lineNum: 0};

            var lines = strList[index].split('\n');
            for (var line in lines) {
                if (!sub.id) {
                    sub.id = lines[line];
                } else if (!sub.time) {
                    sub.time = lines[line];
                } else {
                    var start = sub.lineNum > 0 ? '\n' : '';
                    sub.text += start + lines[line];
                    sub.lineNum++;
                }
            }

            sub.startChar = charIndex + 1;
            charIndex = sub.startChar + sub.text.length; //because of a '\n' is a fake double char
            sub.endChar = charIndex;
            subList.push(sub);
        }

        if (enriched) {
            var entityList = videoInfo.entities;
            var subIndex = subList.length - 1;

            //sorting JSON for end character desc and by length
            entityList.sort(function SortByStartChar(x, y) {
                if (x.endChar == y.endChar) {
                    var lengthX = x.endChar - x.startChar;
                    var lengthY = y.endChar - y.startChar;
                    return ((lengthX == lengthY) ? 0 : (lengthX < lengthY) ? 1 : -1)
                } else if (x.endChar > y.endChar) return -1;
                else return 1;

            });

            var oldstart;
            var oldEnd;
            entityList.forEach(function (entity) {
                while (subIndex >= 0) {
                    var thisSub = subList[subIndex];
                    if (entity.startChar >= thisSub.startChar && entity.endChar <= thisSub.endChar) {

//                        var thisStart = thisSub.text.indexOf(entity.label);
                        var thisStart = entity.startChar;
                        var thisEnd = entity.endChar;

                        var deltaStart = thisStart - thisSub.startChar;
                        var deltaEnd = thisEnd - thisSub.startChar;
                        var text = thisSub.text;
                        var s1 = text.substring(0, deltaStart);
                        var s2 = text.substring(deltaStart, deltaEnd);
                        var s3 = text.substring(deltaEnd);
                        var href = entity.uri ? 'href="' + entity.uri + '" target="_blank"' : '';
                        var nerdType = entity.nerdType.split('#')[1].toLowerCase();

                        if (oldstart == thisStart) {
                            console.log("same start!");
                            console.log(entity.label);
                            return;
                        }
                        if (oldEnd == thisEnd) {
                            var deltaStart = thisStart - oldstart;
                            console.log("same end!");
                            console.log(entity.label);

                            var spanTag = text.indexOf('>');
                            var s1 = text.substring(0, spanTag);
                            var s2 = text.substring(spanTag, (text.indexOf('>', spanTag + 1) + deltaStart));

                            thisSub.text = s1 + s2 + '<span class="entity ' + nerdType + '"><a href="#" +  data-start-time="' + entity.startNPT + '" data-end-time="' + entity.endNPT + '">' + entity.label + '</a></span></a></span>';
                            //return;
                        } else thisSub.text = s1 + '<span class="entity ' + nerdType + '"><a href="#" +  data-start-time="' + entity.startNPT + '" data-end-time="' + entity.endNPT + '">' + s2 + '</a></span>' + s3;


                        oldEnd = thisEnd;
                        oldstart = thisStart;
                        break;
                    } else {
                        subIndex--;
                    }
                }
            });

        }

            subList.forEach(function(sub){
    %>
    <p data-id="<%= sub.id %>" data-time="<%= sub.time %>"><%- sub.text %></p>
    <% }); %>
</div>
<% } %>
