<%
if (videoInfo.sub) {
    var strList = videoInfo.sub.split('\n\n'), subList = [];
    var charIndex = -1;
%>
<div class="sub-text <% if (enriched) { %>enriched<% } %>">
    <%
        for (var index in strList) {
            var sub = {text: '', lineNum: 0};

            var lines = strList[index].split('\n');
            for (var line in lines) {
                if (!sub.id) {
                    sub.id = lines[line];
                } else if (!sub.time) {
                    sub.time = lines[line];
                } else {
                    var start = sub.lineNum > 0 ? '\n' : '';
                    sub.text += start + lines[line];
                    sub.lineNum++;
                }
            }

            sub.startChar = charIndex + 1;
            charIndex = sub.startChar + sub.text.length; //because of a '\n' is a fake double char
            sub.endChar = charIndex;
            subList.push(sub);
        }

        if (enriched && videoInfo.entities) {
            var entityList = videoInfo.entities;
            var subIndex = subList.length - 1;

            //sorting JSON for end character desc and by length
            entityList.sort(function SortByStartChar(x, y) {
                if (x.endChar == y.endChar) {
                    return ((x.label.length == y.label.length) ? 0 : (x.label.length < y.label.length) ? 1 : -1)
                } else if (x.endChar > y.endChar) return -1;
                else return 1;

            });


            entityList.forEach(function (entity) {
                while (subIndex >= 0) {
                    var thisSub = subList[subIndex];
                    if (entity.startChar >= thisSub.startChar && entity.endChar <= thisSub.endChar) {

                        var text = thisSub.text;
                        var start = text.indexOf(entity.label);
                        var end = start + entity.label.length;
                        var href = entity.uri ? 'href="' + entity.uri + '" target="_blank"' : '';
                        var nerdType = entity.nerdType.split('#')[1].toLowerCase();

                        var str = '<span class="entity ' + nerdType + '"><a ' + href + '" +  data-start-time="' + entity.startNPT + '" data-end-time="' + entity.endNPT + '">' + entity.label + '</a></span>';
                        text.replace(entity.label, str);
//                        console.log(thisSub.text.replace(entity.label, str));

                        break;
                    } else {
                        subIndex--;
                    }
                }
            });
        }

            subList.forEach(function(sub){
    %>
    <p data-id="<%= sub.id %>" data-time="<%= sub.time %>"><%- sub.text %></p>
    <% }); %>
</div>
<% } %>
