<div class="container-fluid">

    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <%
            if (metadata && metadata.timedtext) {
                var strList = metadata.timedtext.split('\n\n'), subList = [];
                if (strList.length < 2) {
                    strList = metadata.timedtext.substr(1).split('\n\r');
                }
                var charIndex = -1;
            %>
            <div class="sub-text <% if (locals.enriched) { %>enriched<% } %>">
                <%
                    for (var index in strList) {
                        var sub = {text: '', lineNum: 0};
                        var lines = strList[index].split('\n');

                        for (var line in lines) {
                            if (!sub.id) {
                                sub.id = lines[line];
                            } else if (!sub.time) {
                                sub.time = lines[line].replace('\r', '');
                            } else {
                                var start = sub.lineNum > 0 ? '\n' : '';
                                sub.text += start + lines[line];
                                sub.lineNum++;
                            }
                        }

                        sub.startChar = charIndex + 1;
                        charIndex = sub.startChar + sub.text.length; //because of a '\n' is a fake double char
                        sub.endChar = charIndex;
                        subList.push(sub);
                    }



                    if (locals.enriched && locals.entities) {
                        var entityList = entities;
                        var subIndex = subList.length - 1;

                        function calcTime(subTime) {
                            var time = (subTime.split(":"));
                            var hh = parseInt(time[0]);
                            var mm = parseInt(time[1]);
                            var ss = parseFloat(time[2].replace(",", "."));

                            return ((mm * 60) + (hh * 3600) + ss);
                        }

                        //sorting JSON for end character desc and by length
                        entityList.sort(function SortByStartChar(x, y) {
                            if (x.endNPT == y.endNPT) {
                                return ((x.label.length == y.label.length) ? 0 : (x.label.length < y.label.length) ? 1 : -1)
                            } else if (parseFloat(x.endNPT) > parseFloat(y.endNPT)) return -1;
                            else return 1;
                        });


                        entityList.forEach(function (entity) {
                            while (subIndex >= 0) {

                                var thisSub = subList[subIndex];
                                if (!thisSub.id || thisSub.id == '') {
                                    subIndex--;
                                } else {
                                    var subStartString = calcTime(thisSub.time.split(' --> ')[0]);
                                    var subStart = Math.round(subStartString * 1000) / 1000;

                                    var subEndString = calcTime(thisSub.time.split(' --> ')[1]);
                                    var subEnd = Math.round(subEndString * 1000) / 1000;

                                    var entStart = parseFloat(entity.startNPT)
                                    var entEnd = parseFloat(entity.endNPT);

                                    if (entStart >= subStart && entEnd <= subEnd) {

                                        var text = thisSub.text;
                                        var nerdType = entity.nerdType.split('#')[1].toLowerCase();
                                        console.log(nerdType);
                                        var str = '<span class="entity ' + nerdType + '">' + entity.label + '</span>';

                                        thisSub.text = text.replace(entity.label, str);
                                        break;
                                    } else {
                                        subIndex--;
                                    }
                                }
                            }

                        });
                    }

                        subList.forEach(function(sub){
                %>
                <p data-id="<%= sub.id %>" data-time="<%= sub.time %>"><%- sub.text %></p>
                <% }); %>
            </div>
            <% } %>
        </div>
    </div>
</div>