<%
if (videoInfo.sub) {
    var strList = videoInfo.sub.split('\n\n'), subList = [];
    var charIndex = -1;
%>
<div class="sub-text <% if (enriched) { %>enriched<% } %>">
    <%
        for (var index in strList) {
            var sub = {text: '', lineNum: 0};

            var lines = strList[index].split('\n');
            for (var line in lines) {
                if (!sub.id) {
                    sub.id = lines[line];
                } else if (!sub.time) {
                    sub.time = lines[line];
                } else {
                    var start = sub.lineNum > 0 ? '\n' : '';
                    sub.text += start + lines[line];
                    sub.lineNum++;
                }
            }

            sub.startChar = charIndex + 1;
            charIndex = sub.startChar + sub.text.length; //because of a '\n' is a fake double char
            sub.endChar = charIndex;
            subList.push(sub);
        }

        if (enriched) {
            var entityList = videoInfo.entities;
            var subIndex = subList.length - 1;

            //sorting JSON for Start character desc
            entityList.sort(function SortByStartChar(x, y) {
                return ((x.startChar == y.startChar) ? 0 : ((x.startChar > y.startChar) ? -1 : 1 ));
            });

            entityList.forEach(function (entity) {
                while (subIndex >= 0) {
                    var thisSub = subList[subIndex];
                    if (entity.startChar >= thisSub.startChar && entity.endChar <= thisSub.endChar) {
                        var deltaStart = entity.startChar - thisSub.startChar;
                        var deltaEnd = entity.endChar - thisSub.startChar;
                        var text = thisSub.text;
                        var s1 = text.substring(0, deltaStart);
                        var s2 = text.substring(deltaStart, deltaEnd);
                        var s3 = text.substring(deltaEnd);
                        var href = entity.uri ? 'href="' + entity.uri + '" target="_blank"' : '';
                        var nerdType = entity.nerdType.split('#')[1].toLowerCase();

                        thisSub.text = s1 + '<span class="entity ' + nerdType + '"><a href="#" +  data-start-time="' + entity.startNPT + '" data-end-time="' + entity.endNPT + '">' + s2 + '</a></span>' + s3;
                        break;
                    } else {
                        subIndex--;
                    }
                }
            });

        }

            subList.forEach(function(sub){
    %>
    <p data-id="<%= sub.id %>" data-time="<%= sub.time %>"><%- sub.text %></p>
    <% }); %>
</div>
<% } %>
