<div>
    <% console.log('1') %>
    <% include partials/descr_partial.ejs %>
    <% console.log('2') %>
    <% include partials/sub_partial.ejs %>
    <% console.log('3') %>
    <% include partials/entitiesList_partial.ejs %>
</div>