<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF8">
    <% var metadata = locals.metadata || false %>
    <% var pageTitle = (metadata && locals.metadata.title) ? locals.metadata.title + '|HyperTED' : 'HyperTED'; %>
    <title><%= pageTitle %></title>
    <link rel="icon" type="image/png" href="/img/favicons/favicon_48.png">
    <!--[if IE]>
    <link rel="shortcut icon" href="/img/favicons/favicon.ico"/><![endif]-->

    <link rel="stylesheet" type="text/css" href="/css/MFstyle.css"/>
</head>
<body>

<nav class="navbar" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <div class="navbar-default">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <a class="navbar-brand" href="/home">
                <span class="top-brand">
                   <img class="left-mark" src="/img/logos/left_mark.png">
                   <img class="logo-text" src="/img/logos/hTedLogo_big_text.png">
                   <img class="right-mark" src="/img/logos/right_mark.png">
                </span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-right" method="get" action="/video" id="video-search" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <input name="uri" type="url" placeholder="Insert a Media Fragment URL" class="form-control ">
             <span class="input-group-btn">
                    <button class="btn btn-danger" type="submit">Go!</button>
             </span>
                    </div>
                </div>

            </form>
        </div>
        <!-- /.navbar-collapse -->

    </div>
    <!-- /.container-fluid -->
</nav>

<nav class="navbar navbar-placeholder"></nav>

<div class="playlist-holder">
    <%
    if(locals.msg){
    %>
    <div class="alert alert-danger"><%= locals.msg %></div>
    <%
    }
            if(locals.videos){
    %>
    <% include partials/playlist.ejs %>
    <script>
        var videos = <%= JSON.stringify(videos) %>;
    </script>
    <%
    }
    %>
</div>

<footer class="video_footer">
    <div class="foo">
        <div class="foo-line">
            <hr class="red_rule">
        </div>

        <a href="http://www.eurecom.fr" title="Eurecom" class="eurecomLogo"><img
                    src="../img/logos/eurecom_logo.png"/></a>
        <a href="http://www.mediamixer.eu/" title="Media Mixer" class="mediamixerLogo"><img
                    src="../img/logos/mediamixer_logo.png"/></a>
    </div>
</footer>

<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
<script src="http://code.jquery.com/jquery-2.1.0.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<script src="/js/jquery.loadTemplate-1.4.4.min.js"></script>

<script>
    $(document).ready(function () {
        if (videos) {
            var $suggestedVideoList = $('#suggestedVideoList');
            for (var v in videos) {
                if(!videos.hasOwnProperty(v))continue;
                var suggVideo = videos[v];
                var meta = suggVideo.metadata;
                var title, thumb;
                if (suggVideo.metadata && suggVideo.metadata != 'undefined') {
                    title = meta.title;
                    thumb = meta.thumb;
                } else {
                    title = "Video";
                    thumb = "../img/thumb-default.png";
                }
                $suggestedVideoList.loadTemplate($('#suggTedChap'),
                        {
                            uuid: v,
                            href: '/video/' + v,
                            title: title,
                            thumb: thumb
                        },
                        {append: true}
                );

                var thisVid = $('.video-link[data-uuid=' + v + ']', $suggestedVideoList);
                var frags = suggVideo.chaps;
                for (var f in frags) {
                    if (!frags.hasOwnProperty(f))continue;
                    $('.frag-list', thisVid).loadTemplate($('#fragLi'),
                            {
                                href: '/video/' + v + '#t=' + frags[f].startNPT + ',' + frags[f].endNPT,
                                content: 'Chapter ' + frags[f].chapNum + ' (' + labelTime(frags[f].startNPT) + ' - ' + labelTime(frags[f].endNPT) + ')'
                            },
                            {append: true});
                }

            }

        }
    });
</script>


</body>


</html>