<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF8">
    <title>Search Results|HyperTED</title>
    <link rel="icon" type="image/png" href="/img/favicons/favicon_48.png">
    <!--[if IE]>
    <link rel="shortcut icon" href="/img/favicons/favicon.ico"/><![endif]-->

    <link rel="stylesheet" type="text/css" href="/css/MFstyle.css"/>
</head>
<body>

<% include partials/header.ejs %>

<div class="playlist-holder clearfix">

<%
    if(locals.msg){
    %>

    <div class="alert alert-danger"><%= locals.msg %></div>
    <%
    }
            if(locals.suggVids){
    %>
    <% include partials/playlist.ejs %>
    <script>
        var videos = <%- JSON.stringify(locals.suggVids) %>;
    </script>
    <%
    }
    %>
</div>

<footer class="video_footer">
    <div class="foo">
        <div class="foo-line">
            <hr class="red_rule">
        </div>

        <a href="http://www.eurecom.fr" title="Eurecom" class="eurecomLogo"><img
                    src="../img/logos/eurecom_logo.png"/></a>
        <a href="http://www.mediamixer.eu/" title="Media Mixer" class="mediamixerLogo"><img
                    src="../img/logos/mediamixer_logo.png"/></a>
    </div>
</footer>

<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
<script src="http://code.jquery.com/jquery-2.1.0.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<script src="/js/jquery.loadTemplate-1.4.4.min.js"></script>

<script>
    $(document).ready(function () {
        if (videos) {
            var $suggestedVideoList = $('#suggestedVideoList');
            for (var v in videos) {
                if (!videos.hasOwnProperty(v))continue;
                var suggVideo = videos[v];
                var meta = suggVideo.metadata;
                var title, thumb;
                if (suggVideo.metadata && suggVideo.metadata != 'undefined') {
                    title = meta.title;
                    thumb = meta.thumb;
                } else {
                    title = "Video";
                    thumb = "../img/thumb-default.png";
                }
                $suggestedVideoList.loadTemplate($('#suggTedChap'),
                        {
                            uuid: v,
                            href: '/video/' + v,
                            title: title,
                            thumb: thumb
                        },
                        {append: true}
                );

                var thisVid = $('.video-link[data-uuid=' + v + ']', $suggestedVideoList);
                var frags = suggVideo.chaps;
                for (var f in frags) {
                    if (!frags.hasOwnProperty(f))continue;

                    var fullLabelTime = labelTime(frags[f].startNPT) + ' - ' + labelTime(frags[f].endNPT)

                    $('.frag-list', thisVid).loadTemplate($('#fragLi'),
                            {
                                href: '/video/' + v + '#t=' + frags[f].startNPT + ',' + frags[f].endNPT,
                                content: (frags[f].chapNum) ? 'Chapter ' + frags[f].chapNum + ' (' + fullLabelTime + ')' : fullLabelTime
                            },
                            {append: true});
                    thisVid.addClass("suggTopic");
                }

            }

        }
    });

    function labelTime(time) {
        var hh = Math.floor(time / 3600);
        hh = hh < 10 ? '0' + hh : hh;
        var mm = Math.floor((time % 3600) / 60);
        mm = mm < 10 ? '0' + mm : mm;
        var ss = Math.floor((time % 3600) % 60);
        ss = ss < 10 ? '0' + ss : ss;

        return hh + ':' + mm + ':' + ss;
    }
</script>


</body>


</html>