@import "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css";
@import "font";
@import "mixins";
@import "video_player";
@import "jquery.qtip.min.css";

/* colors */
$light_gray: #f4f4f4;
$medium_gray: #aaaaaa;
$dark_gray: #5d5d5d;
$ted_red: #FE2A05;
$dark_red: #b11200;

.clearfix {
  &:before,
  &:after {
    content: "";
    display: table;

  }
  &:after {
    clear: both;
  }
}

h1, h2, h3, h4, h5, h6, .navbar-brand {
  font: {
    family: CaviarDreams, Helvetica, sans-serif;
  }
}

ul {
  padding: 0;
  list-style: none;
}

html, body {
  background: $light_gray;
  height: 100%;
  margin: 0;
  padding: 0;
}

.home_header {
  background: white;
  @include box-shadow(0, 1px, 8px, -2px, $dark_gray);
  margin: 0 0 30px;
  height: 300px;
  max-height: 40%;
  min-height: 120px;
  width: 100%;
  @media screen and (max-width: 767px) {
    max-height: 150px;
  }
  position: relative;
  .HTlogo {
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-bottom: 30px;
    display: block;
    width: 100%;
    .top-brand {
      margin: auto;
      display: inline-block;
    }
  }
}

.home_footer, .video_footer {
  width: 100%;
  .foo {
    text-align: center;
    hr {
      margin: -6px 0 0 0;
    }
    .eurecomLogo, .mediamixerLogo {
      display: inline-block;
      img {
        //        max-height: 74%;
        //        width: auto;
        padding-right: 20px;
      }
    }
    .logos {
      //      float: left;
      img {
        padding: 4px 20px 4px 0;
        height: 55px;
        width: auto;
      }
    }
  }
}

.page_cont {
  min-height: 100%;
  position: relative;
}

.home_footer {
  position: absolute;
  bottom: 0;
  max-height: 15%;
  background: white;
}

.form-switch-cont {
  text-align: center;
  margin-bottom: 40px;
}

.home_cont {
  padding-bottom: 90px;
  form label {
    color: $medium_gray;
    font: {
      weight: 100;
      size: 1.2em;
    }
  }
}

#basic-form {
  button {
    margin-top: 1.3em;
  }
  > * {
    display: block;
  }
}

.video_footer {
  margin-top: 50px;
  .eurecomLogo, .mediamixerLogo {
    img {
      padding: 4px 0;
      height: 55px;
      width: auto;

    }
  }
}

$brandMarkPadding: 10px;
$navbarTransitionTime: 100ms;
.navbar {
  background: #fff;
  margin-bottom: 0;
  position: fixed;
  z-index: 100;
  width: 100%;

  @include box-shadow(0, 1px, 8px, -2px, $dark_gray);
  @include border-radius(0);
  @include transition(height, $navbarTransitionTime);

  @media (min-width: 768px) {
    height: 96px;

    .navbar-brand {
      position: relative;
      height: 96px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      .top-brand {
        img {
          @media(min-width: 320px) {
            padding-bottom: 8px;
            height: auto;
            width: auto;
          }
        }
      }
    }
    .form-group {
      padding-top: 23px;
      max-width: 300px;
      @include transition(padding, $navbarTransitionTime);
    }
  }

  .navbar-brand {
    top: -7px;
    height: 40px;
  }
  .top-brand {
    img {
      height: 30px;
    }
    .logo-text {
      width: 54px;
    }
    .left-mark, .right-mark {
      width: 31px;
    }
  }
  .form-group {
    padding-top: 0;
  }

  &.compact {
    @media (min-width: 768px) {
      height: 40px;
    }
    .navbar-brand {
      top: -7px;
      height: 40px;
    }
    .top-brand {
      img {
        height: auto;
      }
      .logo-text {
        width: 54px;

      }
      .left-mark, .right-mark {
        width: 31px;
      }
    }
    .form-group {
      padding-top: 0;
    }
  }

  &.navbar-placeholder {
    height: 96px;
    position: static;
    background: #000000;
  }

}

.top-brand {
  img {
    height: 66px;
    display: inline-block;
    @include transition(all, $navbarTransitionTime);
  }
  .logo-text {
    width: 119px;
  }
  &.long {
    .logo-text {
      width: auto;
    }
  }
  .left-mark, .right-mark {
    width: 56px;
    @include transition(padding, 100ms);
  }
  .left-mark {
    padding-left: $brandMarkPadding;
  }
  .right-mark {
    padding-right: $brandMarkPadding;
  }
  &:hover {
    .left-mark {
      padding-left: 0;
      padding-right: $brandMarkPadding;
    }
    .right-mark {
      padding-left: $brandMarkPadding;
      padding-right: 0;
    }
  }
}

.nerdificable {
  @include box-shadow(0, 1px, 8px, -2px, $dark_gray);
  background: #fff;
  max-width: 1200px;
  margin: 80px auto auto auto;
  padding-top: 50px;
  padding-bottom: 50px;

  #playlist-sect {
    margin: 10px;

  }
  #entity-sect {
    margin: 10px;
    display: none;
    .entity-content {
      line-height: 200%;
      padding: 0 10px;
      h3.title {
        display: block;
      }

      div {
        margin-top: 1.5em;
        &:first-of-type {
          margin-top: 2em;
        }
        .entityType {
          .entTypeText {
            margin: 0;
            color: $dark_red;
            @media(max-width: 768px) {
              text-align: center;
            }
          }
        }

        .entityList {
          border-left: 1px $dark_red solid;
          @media(max-width: 768px) {
            border-left: 0;
          }
          .displayEntity {
            @extend .clearfix;
            text-align: center;
            li {
              display: inline-block;
            }
          }

        }
      }

    }
  }
}

.red_rule {
  background-color: $dark_red;
  height: 5px;
  margin-left: 0;
  text-align: left;
}

h1.title {
  @media(max-width: 320px) {
    font-size: 200%;
    margin: 0;
  }
  @media(max-width: 240px) {
    font-size: 150%;
    margin: 0;
  }
}

#player-sect {
  background: #000000;
  width: 100%;
  position: relative;

  .info-on-player {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: visible;
    .info-sx, .info-dx {
      position: relative;
      float: left;
      z-index: 2;
    }
    .info-sx {
      width: 48%;
      .title {
        margin: 30px;
        color: #fff;
        font-weight: bold;

        @media (max-width: 767px) {
          display: none;
        }
      }
    }
    .info-dx {
      idth: 8%;
      height: 100%;
      margin-top: 14%;
      margin-left: 36%;
    }
    .stat {
      margin-left: 30px;
      width: 100%;
      overflow: visible;

      label.key {
        color: $ted_red;
      }
      .value {
        color: $light_gray;
      }
      .value, label.key {
        display: inline-block;
      }

      @media(max-width: 767px) {
        display: none;
      }
    }

  }
  #player-container {
    min-height: 20%;
    overflow: hidden;

    #video {
      width: 100%;
      min-height: 360px;

      .mejs-inner {
        cursor: pointer;

      }
      @media (min-width: 768px) {
        .mejs-container {
          position: static;
          margin: auto;
          width: 100%;
          height: auto;
        }
      }
    }
    #hotspots-cont {
      padding-bottom: 15px;
      form, .hsProgress {
        text-align: center;
        .btn-hotspot {
          text-align: center;
          background: #000000;
          border: 1px solid $light_gray;
          color: $light_gray;
          outline: 0;
          opacity: 1;
          height: 34px;
          @include border-radius(10px);
          @include transition(width, 500ms);
          &:hover, &:active {
            background: $dark_red;
          }
          p {
            display: inline-block;
            opacity: 0;
            @include transition(all, 500ms);
          }
        }
      }
      .hscont {
        margin-left: 65px;
        margin-right: 65px;
        @media(max-width: 768px) {
          width: 508px;
          margin-right: 0;
        }
        .pin {
          @include border-radius-bottom(10px);
          text-align: center;
          cursor: pointer;
          float: left;
          display: none;
          border-bottom: 1px solid $light_gray;
          position: relative;
          top: -10px;
          z-index: 101;
          min-height: 26px;
          img {
            position: absolute;
            left: -10px;
          }
        }
      }
    }
  }
}

.qtipEnt, .qtipTitle {
  display: none;
}

.qtip-light {
  padding-bottom: 15px;

  .qtip-titlebar {
    margin-bottom: 15px;
    padding: 8px 15px;
    background: $dark_red;
    color: $light_gray;
    text-align: center;
    .glyphicon {
      color: $light_gray;
      font-size: 0.9em;

    }

  }
  .qtip-content {
    text-align: center;
    max-width: 190px;
  }
}

.topic-cont {

  .topic {
    font-weight: 700;
    display: block;
    a {
      color: $darker_gray;
    }
  }
}

.btn-danger {
  background: $dark_red;
  @include border-radius(10px);

}

.chap-label {
  margin-bottom: 10px;
  color: $medium_gray;
  min-height: 20px;
  text-align: center;
  span {
    display: inline-block;
    &.selected-chap-num, &.first-part, &.last-part {
      font: {
        family: CaviarDreams, Helvetica, sans-serif;
        size: 2.6em;
      }
    }
  }

  @media(max-width: 768px) {
    text-align: center;
    min-height: 10px;

  }
}

.chap-line {
  min-height: 35px;
  margin: 20px 50px 20px 50px;
  text-align: center;
  @media(max-width: 768px) {
    width: 508px;
    margin-right: 0;
  }

  .chap-link {
    @include transition(background-color, 300ms);
    @include transition(width, 300ms);
    position: relative;
    height: 15px;
    background-color: $dark_red;
    border-left: 2px solid $light_gray;
    &:nth-child(odd) {
      background-color: $ted_red;
    }
    float: left;
    text-align: center;

    .chapNum-cont {
      overflow: hidden;
      .chap-num {
        @include border-radius(10px);
        background-color: #ffffff;
        display: none;
        padding: 4px;
        color: $dark_red;
        font-weight: 700;
        @media (max-width: 768px) {
          display: none;
        }
      }
    }

    .chap-timing {
      position: absolute;
      min-height: 32px;
      height: 100%;
      bottom: 0;
      width: 0;
      margin-left: 50%;
      background-color: #f4f4f4;
      opacity: 0.8;
      color: #f4f4f4;
      overflow: hidden;
      -webkit-transition: width 200ms, margin 200ms, color 1s;
      -moz-transition: width 200ms, margin 200ms, color 1s;
      -ms-transition: width 200ms, margin 200ms, color 1s;
      transition: width 200ms, margin 200ms, color 1s;

      h5 {
        visibility: hidden;
        .glyphicon-chevron-left, .glyphicon-chevron-right {
          font-size: 1em;
        }
      }
    }
    &.selected-chap {
      .chap-timing {
        z-index: 1;
      }
    }
    &:hover {
      .chap-timing {

        z-index: 2;
        @include box-shadow(0, 2px, 8px, 0, $dark_gray);
      }
    }

    &:hover, &.selected-chap {
      background-color: rgba(223, 175, 170, 0.82);
      .chap-num {
        opacity: 0.1;
      }
      .chap-timing {
        cursor: pointer;
        width: 100%;
        color: $dark_red;
        margin-left: 0;
        min-width: 175px;
        h5 {
          visibility: visible;
        }
        @media(max-width: 767px) {
          bottom: 30px;
          width: 175px;
          opacity: 1;
        }
      }

      @media(max-width: 767px) {
        background-color: #dfafaa;
      }
    }
  }

}

.title, .noCont {
  color: $medium_gray;
  z-index: 5;
  position: relative;
}

.title {
  padding-bottom: 0;
  margin: 0px 6px 15px -10px;
  display: inline-block;
}

.noCont {
  padding-bottom: 200px;
  .glyphicon-chevron-left, .glyphicon-chevron-right {
    font-size: 1em;
  }
}

.glyphicon-chevron-left, .glyphicon-chevron-right {
  color: $darker_gray;
  display: inline-block;
  font-size: 2em;
}

#video {
  position: relative;
  z-index: 2;
}

div.chapterscontent {
  display: none;
  opacity: 0;
  @include transition(opacity, 200ms);
  &.visible {
    opacity: 1;
  }
}

.video-list {
  list-style: none;
  background: #fff;
  padding: 0 10px;

  .video-link {
    padding: 10px;
    border-top: 1px solid $medium_gray;
    min-height: 100px;
    &:first-child {
      border-top: none;
    }

    h4 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .loader {
      height: 16px;
      width: 16px;
      margin: 30px auto;
      display: block;
    }
    .thumb {
      height: 70px;
      width: 93px;
      float: left;
      margin-right: 12px;
    }
    .content {
      @include transition(opacity, 200ms);
      &.visible {
        opacity: 1;
      }
    }

    ul.frag-list {
      li.frag-link {
        a:before {
          content: "\e072";
          font-family: 'Glyphicons Halflings';
          font-size: 0.6em;
          padding: 0 3px;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
      }
    }
  }

}

span.wiki {
  a {
    color: #fff;
  }
}

#video-info-chapters {
  @include box-shadow(0, 1px, 8px, -2px, $dark_gray);
  display: none;
  background: #fff;
  width: 100%;
  //max-height: 265px;
  overflow: hidden;
  text-overflow: ellipsis;
  @media(max-width: 860px) {
    max-height: 350px;
  }

  .play-video-info {
    padding: 20px;
    margin-top: 0;
    border-top: 1px solid $light_gray;

    .left {
      float: left;
      width: 48%;
      display: inline-block;
      h3 {
        font-weight: 700;
      }
      @media(max-width: 860px) {
        width: 100%;
        text-align: center;
      }
    }
    .right {
      max-height: 130px;
      float: right;
      display: inline-block;
      width: 50%;
      border-left: 1px solid $dark_red;
      padding-left: 2%;
      overflow-y: auto;
      @media(max-width: 860px) {
        width: 100%;
        max-height: 90px;
        border-top: 1px solid $dark_red;
        border-left: 0;
      }

    }
  }
}

div.descr-cont {
  line-height: 200%;
  .descr {
    margin-top: 10px;
    margin-bottom: 20px;
    max-height: 13em;
    overflow: hidden;
    padding-bottom: 10px;
    border-bottom: 1px solid $light_gray;
    box-sizing: content-box;
    white-space: pre-wrap;
    @include transition(max-height, 1000ms);
    @include box-shadow(0, 7px, 9px, -5px, $medium_gray);
    &.full {
      max-height: 100em;
    }
  }
  .see-all {
    position: relative;
    right: 0;
    top: -42px;
    float: right;
    background: $light_gray;
    border: 1px solid $medium_gray;
    @include border-radius(5px);
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: $medium_gray;
    text-transform: uppercase;
    font-size: 0.8em;
    line-height: 1em;
    padding: 5px 15px;
    margin: 0 9px;
    opacity: 0.7;
    @include transition(opacity, 200ms);
    &:hover {
      opacity: 1;
    }
  }

}

p {

  span.entity.nesting {

    &:not(:hover) {
      color: #000000;
      background: linear-gradient(#ffffff, #cccccc);
      border: solid 1px black;

      .entity {
        color: #000000;
        background: {
          color: transparent;
        }
      }
    }

    span {
      display: inline-block;
      @include transition(transform, 0.5s);
      -webkit-transition: -webkit-transform 0.5s; /* For Safari 3.1 to 6.0 */
    }

    &:hover span {
      -webkit-transform: translate(0px, -10px); /* Chrome, Safari, Opera */
      @include box-shadow(0, 1px, 8px, -2px, $dark_gray);
    }
  }
}

.extractor {
  font-weight: 700;
}

.entity {
  @include border-radius(5px);
  @include border-box-sizing;
  cursor: pointer;
  padding: 3px;
  color: #ffffff;

  &.list {
    margin-left: 24px;
  }
  &.pinEnt {
    display: inline-block;
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }
  &.hotspotEnt {
    line-height: 2em;
    margin-top: 0.5em;
    padding-top: 0;
    padding-bottom: 0;
    display: inline-block;
  }

  a {
    color: #ffffff;
  }

  background: {
    color: #000000;
  }

  &.thing {

    background: {
      color: #15417B;
    }
  }
  &.amount {
    color: #000000;
    a {
      color: #000000;
    }
    background: {
      color: #1EDC3A;
    }
  }
  &.animal {
    background: {
      color: #DD1B4B;
    }
  }
  &.event {
    background: {
      color: #b200ff;
    }
  }
  &.function {
    background: {
      color: #F12606;
    }
  }
  &.location {
    background: {
      color: #F1A02A;
    }
  }
  &.organization {
    color: #000000;
    a {
      color: #000000;
    }
    background: {
      color: #54B9DD;
    }

  }
  &.person {
    color: #000000;
    a {
      color: #000000;
    }
    background: {
      color: #EDF10B;
    }
  }
  &.product {
    background: {
      color: #5B007B;
    }
  }
  &.time {
    color: #000000;
    a {
      color: #000000;
    }

    background: {
      color: #D0F181;
    }
  }
}

.button-cont {
  text-align: right;
  clear: both;
  margin-bottom: 15px;
}

#sub-cont {
  clear: both;
}

.sub-text {
  border: 1px solid $light_gray;
  background-color: $light_gray;
  margin: 5px 0;
  height: 550px;
  overflow: auto;
  resize: vertical;
  font-weight: 400;
  @media(max-height: 568px) {
    height: 275px;
  }

  p {
    font-size: 0.9em;
    line-height: 1.8em;
    margin: 0;
    padding: 0 10px;
    @include transition(font-weight, 100ms);
    cursor: pointer;
    &:hover {
      font-weight: 700;
    }
    &:before {
      content: "";
      width: 8px;
      display: inline-block;
    }

    &.selected-frag {
      background-color: #ffffff;

    }

    &.now-playing {
      font-style: italic;

      &:before {
        content: '\2022';
        font: {
          family: "Helvetica Neue", Arial, Helvetica, sans-serif;
          size: larger;
          weight: 700;
        }
        line-height: 1em;
        color: $dark_red;

      }
    }
  }
  .subChapGroup {
    border-bottom: 1px solid $medium_gray;
    margin-bottom: 5px;
    &:hover {
      font-weight: 700;
    }
    .chap-title {
      text-align: right;
      font-weight: 700;
    }
  }
}

.nerdFormContent {
  width: 100%;
  padding-top: 10px;
  p {
    text-align: left;
  }
  .nerdForm {
    float: left;
    &.nerdSelect {
      width: 100%;
      margin-left: 1%;
      .nerdLabel {
        font-weight: 200;
      }
      @media(min-width: 400px) {
        width: 25%;
      }
    }
    &.nerdBtn {

      padding-top: 5px;
      width: 100%;
      @media(min-width: 400px) {
        width: 55%;
        padding-left: 5%;
        padding-top: 0;

      }
    }
  }
}

.errorcode {
  font: {
    family: Arial Black, Arial, Verdana, sans-serif;
    weight: bold;
    size: 5em;
  }
  color: $ted_red;
  vertical-align: middle;
}

.error_header {
  text-align: center;
}