@import "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css";
//@import "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css";
@import "font";
@import "mixins";
@import "video_player";

/* colors */
$light_gray: #f4f4f4;
$medium_gray: #aaaaaa;
$dark_gray: #5d5d5d;
$ted_red: #FE2A05;
$dark_red: #b11200;

.clearfix {
  &:before,
  &:after {
    content: "";
    display: table;

  }
  &:after {
    clear: both;
  }
}

h1, h2, h3, h4, h5, h6, .navbar-brand {
  font: {
    family: CaviarDreams, Helvetica, sans-serif;
  }
}

ul {
  padding: 0;
  list-style: none;
}

html, body {
  background: $light_gray;
  height: 100%;
  margin: 0;
  padding: 0;
}

.home_header {
  background: white;
  @include box-shadow(0, 1px, 8px, -2px, $dark_gray);
  margin: 0 0 30px;
  min-height: 40%;
  width: 100%;

  .HTlogo {
    text-align: center;
    padding-top: 100px;
  }
}

.container {
  min-height: 40%;

}

.home_footer, .video_footer {

  width: 100%;
  .foo {
    text-align: center;
    hr {
      margin: -6px 0 0 0;
    }
    .eurecomLogo, .mediamixerLogo {
      display: inline-block;
      margin-top: 1.5em;
    }

    h1 {
      margin: 0;
    }
  }
}

.home_footer {
  background: white;
  position: absolute;
  bottom: 0;
  height: 20%;
}

.video_footer {
  margin-top: 50px;
  .eurecomLogo, .mediamixerLogo {
    img {
      width: 55%;
      height: auto;
    }
  }
}

$brandMarkPadding: 10px;
$navbarTransitionTime: 100ms;
.navbar {
  background: #fff;
  margin-bottom: 0;
  position: fixed;
  z-index: 100;
  @media (min-width: 768px) {
    height: 96px;
  }
  width: 100%;

  @include box-shadow(0, 1px, 8px, -2px, $dark_gray);
  @include border-radius(0);
  @include transition(height, $navbarTransitionTime);

  .navbar-brand {
    position: relative;
    height: 96px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .form-group {
    padding-top: 23px;
    max-width: 300px;
    @include transition(padding, $navbarTransitionTime);
  }

  &.compact {
    @media (min-width: 768px) {
      height: 40px;
    }
    .navbar-brand {
      top: -7px;
      height: 40px;
    }
    .top-brand {
      img {
        height: 30px;
      }
      .logo-text {
        width: 54px;
      }
      .left-mark, .right-mark {
        width: 31px;
      }
    }
    .form-group {
      padding-top: 0;
    }
  }

  &.navbar-placeholder {
    height: 96px;
    position: static;
    background: #000000;
  }

}

.top-brand {
  img {
    height: 66px;
    display: inline-block;
    @include transition(all, $navbarTransitionTime);
  }
  .logo-text {
    width: 119px;
  }
  .left-mark, .right-mark {
    width: 56px;
    @include transition(padding, 100ms);
  }
  .left-mark {
    padding-left: $brandMarkPadding;
  }
  .right-mark {
    padding-right: $brandMarkPadding;
  }
  &:hover {
    .left-mark {
      padding-left: 0;
      padding-right: $brandMarkPadding;
    }
    .right-mark {
      padding-left: $brandMarkPadding;
      padding-right: 0;
    }
  }
}

.nerdificable {
  @include box-shadow(0, 1px, 8px, -2px, $dark_gray);
  background: #fff;
  max-width: 1200px;
  margin: 80px auto auto auto;
  padding-top: 50px;
  padding-bottom: 50px;

  #playlist-sect {
    margin: 10px;

  }
  #entity-sect {
    margin: 10px;
    .entity-content {
      line-height: 200%;
      padding: 0 10px;
      h3.title {
        display: block;
      }
      .displayEntity {
        @extend .clearfix;
      }
    }
  }
}

.stat {
  label.key {
    color: $dark_red;
  }
  .value {
    color: $light_gray;
  }
  .value, label.key {
    display: inline-block;
  }
}

.red_rule {
  background-color: $dark_red;
  height: 5px;
  margin-left: 0;
  text-align: left;
}

#player-sect {
  background: #000000;
  width: 100%;
  position: relative;

  .info-on-player {
    position: absolute;
    left: 0;
    top: 0;

    width: 47%;
    overflow: auto;
    .title {
      margin: 30px;
      color: #fff;
      font-weight: bold;
    }

  }
  #player-container {
    min-height: 360px;
  }
}

#video {
  @media (min-width: 768px) {
    padding-left: 10em;
  }
  .mejs-container {
    position: static;
    margin: auto;
  }
}

.chap-label {
  color: $medium_gray;
  min-height: 20px;
  margin-top: 35px;
  margin-bottom: 0;
  text-align: center;
  h1 {
    display: inline-block;
  }

  @media(max-width: 768px) {
    text-align: center;
    min-height: 10px;

  }
}

.chap-line {
  min-height: 32px;
  margin: 20px 50px 20px 50px;
  text-align: center;
  border: 1px solid $dark_red;
  @include border-radius(8px);

  .chap-link {
    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    -ms-transition: background-color 300ms;
    transition: background-color 300ms;
    position: relative;
    height: 30px;
    background-color: $dark_red;
    &:nth-child(odd) {
      background-color: $ted_red;
    }
    float: left;

    &:first-child {
      @include border-radius-left(8px);
    }
    &:last-child {
      @include border-radius-right(8px);
    }

    .chap-timing {
      position: absolute;
      height: 100%;
      bottom: 0;
      width: 0;
      margin-left: 50%;
      background-color: #dfafaa;
      opacity: 0.8;
      color: #dfafaa;
      overflow: hidden;
      -webkit-transition: width 200ms, margin 200ms, color 1s;
      -moz-transition: width 200ms, margin 200ms, color 1s;
      -ms-transition: width 200ms, margin 200ms, color 1s;
      transition: width 200ms, margin 200ms, color 1s;

      h5 {
        visibility: hidden;
        .glyphicon-chevron-left, .glyphicon-chevron-right {
          font-size: 1em;
        }
      }
    }

    &:hover, &.selected-chap {
      background-color: rgba(223, 175, 170, 0.82);

      .chap-timing {
        cursor: pointer;
        width: 100%;
        color: $dark_red;
        margin-left: 0;
        min-width: 175px;
        h5 {
          visibility: visible;
        }
        @media(max-width: 767px) {
          bottom: 30px;
          width: 175px;
          opacity: 1;
        }
      }

      @media(max-width: 767px) {
        background-color: #dfafaa;
      }
    }
  }

}

.title, .noCont {
  color: $medium_gray;
  z-index: 5;
  position: relative;
}

.title {
  padding-bottom: 0;
  margin: 0px 6px 15px -10px;
  display: inline-block;
}

.noCont {
  padding-bottom: 200px;
  .glyphicon-chevron-left, .glyphicon-chevron-right {
    font-size: 1em;
  }
}

.glyphicon-chevron-left, .glyphicon-chevron-right {
  color: $darker_gray;
  display: inline-block;
  font-size: 2em;
}

#video {
  position: relative;
  z-index: 2;
}

div.chapterscontent {
  display: none;
  opacity: 0;
  @include transition(opacity, 200ms);
  &.visible {
    opacity: 1;
  }
}

.video-list {
  list-style: none;
  background: #fff;
  padding: 0 10px;

  .video-link {
    padding: 10px;
    border-top: 1px solid $medium_gray;
    min-height: 100px;
    &:first-child {
      border-top: none;
    }

    h4 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .loader {
      height: 16px;
      width: 16px;
      margin: 30px auto;
      display: block;
    }
    .thumb {
      height: 70px;
      width: 93px;
      float: left;
      margin-right: 12px;
    }
    .content {
      display: none;
      opacity: 0;
      @include transition(opacity, 200ms);
      &.visible {
        opacity: 1;
      }
    }

    ul.frag-list {
      li.frag-link {
        a:before {
          content: "\e072";
          font-family: 'Glyphicons Halflings';
          font-size: 0.6em;
          padding: 0 3px;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
      }
    }
  }

}

#related-frags {
  background: #fff;
  @include box-shadow(0, 1px, 8px, -2px, $dark_gray);
}

div.descr-cont {
  line-height: 200%;
  .descr {
    margin-top: 10px;
    margin-bottom: 20px;
    max-height: 13em;
    overflow: hidden;
    padding-bottom: 10px;
    border-bottom: 1px solid $light_gray;
    box-sizing: content-box;
    white-space: pre-wrap;
    @include transition(max-height, 1000ms);
    @include box-shadow(0, 7px, 9px, -5px, $medium_gray);
    &.full {
      max-height: 100em;
    }
  }
  .see-all {
    position: relative;
    right: 0;
    top: -42px;
    float: right;
    background: $light_gray;
    border: 1px solid $medium_gray;
    @include border-radius(5px);
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: $medium_gray;
    text-transform: uppercase;
    font-size: 0.8em;
    line-height: 1em;
    padding: 5px 15px;
    margin: 0 9px;
    opacity: 0.7;
    @include transition(opacity, 200ms);
    &:hover {
      opacity: 1;
    }
  }

}

p {

  span.entity.nesting {

    &:not(:hover) {
      color: #000000;
      background: linear-gradient(#ffffff, #cccccc);
      border: solid 1px black;

      .entity {
        color: #000000;
        background: {
          color: transparent;
        }
      }
    }

    span {
      display: inline-block;
      @include transition(transform, 0.5s);
      -webkit-transition: -webkit-transform 0.5s; /* For Safari 3.1 to 6.0 */

    }

    &:hover span {
      -webkit-transform: translate(0px, -10px); /* Chrome, Safari, Opera */
    }
  }
}

.entity {

  cursor: pointer;
  @include border-radius(5px);
  @include border-box-sizing;
  padding: 3px;
  color: #ffffff;

  a {
    color: #ffffff;
  }

  background: {
    color: #000000;
  }

  &.thing {

    background: {
      color: #15417B;
    }
  }
  &.amount {
    color: #000000;
    a {
      color: #000000;
    }
    background: {
      color: #1EDC3A;
    }
  }
  &.animal {
    background: {
      color: #DD1B4B;
    }
  }
  &.event {
    background: {
      color: #b200ff;
    }
  }
  &.function {
    background: {
      color: #F12606;
    }
  }
  &.location {
    background: {
      color: #F1A02A;
    }
  }
  &.organization {
    color: #000000;
    a {
      color: #000000;
    }
    background: {
      color: #54B9DD;
    }

  }
  &.person {
    color: #000000;
    a {
      color: #000000;
    }
    background: {
      color: #EDF10B;
    }
  }
  &.product {
    background: {
      color: #5B007B;
    }
  }
  &.time {
    color: #000000;
    a {
      color: #000000;
    }

    background: {
      color: #D0F181;
    }
  }
}

.button-cont {
  text-align: right;
  clear: both;
  margin-top: -45px;
  margin-bottom: 15px;
}

#sub-cont {
  clear: both;
  margin-bottom: 50px;
}

.sub-text {
  border: 1px solid $light_gray;
  margin: 5px 0;
  height: 200px;
  overflow: auto;
  resize: vertical;
  font-weight: 400;

  p {
    font-size: 0.9em;
    line-height: 1.8em;
    margin: 0;
    padding: 0 10px;
    @include transition(font-weight, 100ms);
    cursor: pointer;
    &:hover {
      font-weight: 700;
    }
    &:before{
      content:"";
      width: 8px;
      display: inline-block;
    }
    &.now-playing {
      font-style: italic;
      &:before {
        content: '\2022';
        font:{
          family: "Helvetica Neue", Arial, Helvetica, sans-serif;
          size: larger;
          weight: 700;
        }
        line-height: 1em;
        color: $dark_red;

      }
    }
  }
  .subChapGroup {
    border-bottom: 1px solid $medium_gray;
    margin-bottom: 5px;
    &:hover {
      font-weight: 700;
    }
  }
}

.errorcode {
  font: {
    family: Arial Black, Arial, Verdana, sans-serif;
    weight: bold;
    size: 5em;
  }
  color: $ted_red;
  vertical-align: middle;
}

.error_header {
  text-align: center;
}