@import "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css";
@import "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css";
@font-face {
  font-family: "CaviarDreams";
  src: url("fonts/CaviarDreams/CaviarDreams-webfont.eot");
  src: url("fonts/CaviarDreams/CaviarDreams-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/CaviarDreams/CaviarDreams-webfont.woff") format("woff"), url("fonts/CaviarDreams/CaviarDreams-webfont.ttf") format("truetype"), url("fonts/CaviarDreams/CaviarDreams-webfont.svg#CaviarDreams") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "CaviarDreams";
  src: url("fonts/CaviarDreams/Caviar_Dreams_Bold-webfont.eot");
  src: url("fonts/CaviarDreams/Caviar_Dreams_Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/CaviarDreams/Caviar_Dreams_Bold-webfont.woff") format("woff"), url("fonts/CaviarDreams/Caviar_Dreams_Bold-webfont.ttf") format("truetype"), url("fonts/CaviarDreams/Caviar_Dreams_Bold-webfont.svg#CaviarDreams") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "CaviarDreams";
  src: url("fonts/CaviarDreams/CaviarDreams_Italic-webfont.eot");
  src: url("fonts/CaviarDreams/CaviarDreams_Italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/CaviarDreams/CaviarDreams_Italic-webfont.woff") format("woff"), url("fonts/CaviarDreams/CaviarDreams_Italic-webfont.ttf") format("truetype"), url("fonts/CaviarDreams/CaviarDreams_Italic-webfont.svg#CaviarDreams") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "CaviarDreams";
  src: url("fonts/CaviarDreams/CaviarDreams_BoldItalic-webfont.eot");
  src: url("fonts/CaviarDreams/CaviarDreams_BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/CaviarDreams/CaviarDreams_BoldItalic-webfont.woff") format("woff"), url("fonts/CaviarDreams/CaviarDreams_BoldItalic-webfont.ttf") format("truetype"), url("fonts/CaviarDreams/CaviarDreams_BoldItalic-webfont.svg#CaviarDreams") format("svg");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: "CaviarDreams";
  src: url("fonts/CaviarDreams/CaviarDreams-webfont.eot");
  src: url("fonts/CaviarDreams/CaviarDreams-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/CaviarDreams/CaviarDreams-webfont.woff") format("woff"), url("fonts/CaviarDreams/CaviarDreams-webfont.ttf") format("truetype"), url("fonts/CaviarDreams/CaviarDreams-webfont.svg#CaviarDreams") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "CaviarDreams";
  src: url("fonts/CaviarDreams/Caviar_Dreams_Bold-webfont.eot");
  src: url("fonts/CaviarDreams/Caviar_Dreams_Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/CaviarDreams/Caviar_Dreams_Bold-webfont.woff") format("woff"), url("fonts/CaviarDreams/Caviar_Dreams_Bold-webfont.ttf") format("truetype"), url("fonts/CaviarDreams/Caviar_Dreams_Bold-webfont.svg#CaviarDreams") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "CaviarDreams";
  src: url("fonts/CaviarDreams/CaviarDreams_Italic-webfont.eot");
  src: url("fonts/CaviarDreams/CaviarDreams_Italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/CaviarDreams/CaviarDreams_Italic-webfont.woff") format("woff"), url("fonts/CaviarDreams/CaviarDreams_Italic-webfont.ttf") format("truetype"), url("fonts/CaviarDreams/CaviarDreams_Italic-webfont.svg#CaviarDreams") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "CaviarDreams";
  src: url("fonts/CaviarDreams/CaviarDreams_BoldItalic-webfont.eot");
  src: url("fonts/CaviarDreams/CaviarDreams_BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/CaviarDreams/CaviarDreams_BoldItalic-webfont.woff") format("woff"), url("fonts/CaviarDreams/CaviarDreams_BoldItalic-webfont.ttf") format("truetype"), url("fonts/CaviarDreams/CaviarDreams_BoldItalic-webfont.svg#CaviarDreams") format("svg");
  font-weight: bold;
  font-style: italic; }

/* colors */
/*font*/
.mejs-container {
  /*player control and progress bar container*/ }
  .mejs-container .mejs-video {
    -moz-box-shadow: 0 1px 8px -2px #444444;
    -webkit-box-shadow: 0 1px 8px -2px #444444;
    box-shadow: 0 1px 8px -2px #444444; }
  .mejs-container div.mejs-controls {
    background-image: none;
    /* Fallback for web browsers that don't support RGBa */
    background-color: #f4f4f4;
    /* RGBa with 0.7 opacity */
    background-color: rgba(244, 244, 244, 0.7);
    /* For IE 5.5 - 7*/
    background-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99f4f4f4, endColorstr=#99f4f4f4);
    /* For IE 8*/
    background--ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99f4f4f4, endColorstr=#99f4f4f4)";
    z-index: 100;
    /*current and total time*/
    /*progress bars*/ }
    .mejs-container div.mejs-controls .mejs-time span {
      color: #444444;
      @font-face {
        font-family: "CaviarDreams";
        src: url("fonts/CaviarDreams/Caviar_Dreams_Bold-webfont.eot");
        src: url("fonts/CaviarDreams/Caviar_Dreams_Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/CaviarDreams/Caviar_Dreams_Bold-webfont.woff") format("woff"), url("fonts/CaviarDreams/Caviar_Dreams_Bold-webfont.ttf") format("truetype"), url("fonts/CaviarDreams/Caviar_Dreams_Bold-webfont.svg#CaviarDreams") format("svg");
        font-weight: bold;
        font-style: normal; }
 }
    .mejs-container div.mejs-controls .mejs-time-rail {
      /*current time progress bar*/
      /*loaded time progress bar*/ }
      .mejs-container div.mejs-controls .mejs-time-rail span.mejs-time-current {
        background: #80080c;
        background: -moz-linear-gradient(top, #80080c 0%, #c8374c 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #80080c), color-stop(100%, #c8374c));
        background: -webkit-linear-gradient(top, #80080c 0%, #c8374c 100%);
        background: -o-linear-gradient(top, #80080c 0%, #c8374c 100%);
        background: -ms-linear-gradient(top, #80080c 0%, #c8374c 100%);
        background: linear-gradient(to bottom, #80080c 0%, #c8374c 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$topColor', endColorstr='$bottomColor', GradientType=0); }
      .mejs-container div.mejs-controls .mejs-time-rail span.mejs-time-loaded {
        background: #444444;
        background: -moz-linear-gradient(top, #444444 0%, #929292 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #444444), color-stop(100%, #929292));
        background: -webkit-linear-gradient(top, #444444 0%, #929292 100%);
        background: -o-linear-gradient(top, #444444 0%, #929292 100%);
        background: -ms-linear-gradient(top, #444444 0%, #929292 100%);
        background: linear-gradient(to bottom, #444444 0%, #929292 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$topColor', endColorstr='$bottomColor', GradientType=0); }

.smfplayer-overlay {
  border: none; }
  .smfplayer-overlay.dark {
    display: block;
    background: rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 0 0 white;
    -webkit-box-shadow: 0 0 0 0 white;
    box-shadow: 0 0 0 0 white;
    -webkit-transition: opacity 100ms ease-out;
    -moz-transition: opacity 100ms ease-out;
    -o-transition: opacity 100ms ease-out;
    transition: opacity 100ms ease-out; }

.dark-divs {
  position: absolute;
  top: 0;
  bottom: 0; }
  .dark-divs:hover .dark {
    opacity: 0.5; }

/* colors */
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }
.clearfix:after {
  clear: both; }

h1, h2, h3, h4, h5, h6, .navbar-brand {
  font-family: CaviarDreams, Helvetica, sans-serif; }

ul {
  padding: 0;
  list-style: none; }

html, body {
  background: #f4f4f4;
  height: 100%; }

.home_header {
  background: white;
  -moz-box-shadow: 0 1px 8px -2px #5d5d5d;
  -webkit-box-shadow: 0 1px 8px -2px #5d5d5d;
  box-shadow: 0 1px 8px -2px #5d5d5d;
  margin: 0 0 30px;
  height: 50%; }
  .home_header h1 {
    text-align: center;
    font-size: 4.5em;
    color: #3276b1;
    margin: -0.5em auto 0;
    position: relative;
    top: 50%;
    padding: 0 40px; }

.navbar {
  background: #fff;
  -moz-box-shadow: 0 1px 8px -2px #5d5d5d;
  -webkit-box-shadow: 0 1px 8px -2px #5d5d5d;
  box-shadow: 0 1px 8px -2px #5d5d5d;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }
  .navbar .form-group {
    max-width: 300px; }

.main-content {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-direction: row;
  justify-content: space-between;
  max-width: 1200px;
  min-width: 1000px;
  margin: auto; }
  .main-content section {
    margin: 10px; }
    .main-content section#player-sect {
      flex: 2.0;
      max-width: 640px; }
      .main-content section#player-sect .title {
        text-align: right;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 39px; }
    .main-content section#playlist-sect {
      flex: 1.0;
      max-width: 400px; }
      .main-content section#playlist-sect #entity-sect .entity-content {
        line-height: 200%;
        background: #fff;
        padding: 0 10px;
        -moz-box-shadow: 0 1px 8px -2px #5d5d5d;
        -webkit-box-shadow: 0 1px 8px -2px #5d5d5d;
        box-shadow: 0 1px 8px -2px #5d5d5d; }

.title {
  color: #aaaaaa;
  padding-bottom: 0;
  margin: 20px 10px -6px;
  z-index: 5;
  position: relative; }

#player-container {
  position: relative; }

#mfDiv {
  display: none;
  position: absolute;
  bottom: 10px;
  height: 6px;
  background-color: yellow;
  z-index: 5;
  opacity: 0.5;
  pointer-events: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }

#video {
  position: relative;
  z-index: 2; }

ul.video-list {
  list-style: none;
  background: #fff;
  padding: 0 10px;
  -moz-box-shadow: 0 1px 8px -2px #5d5d5d;
  -webkit-box-shadow: 0 1px 8px -2px #5d5d5d;
  box-shadow: 0 1px 8px -2px #5d5d5d; }
  ul.video-list li.video-link {
    padding: 10px;
    border-top: 1px solid #aaaaaa;
    min-height: 100px; }
    ul.video-list li.video-link:first-child {
      border-top: none; }
    ul.video-list li.video-link h4 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    ul.video-list li.video-link .loader {
      height: 16px;
      width: 16px;
      margin: 30px auto;
      display: block; }
    ul.video-list li.video-link .thumb {
      height: 70px;
      width: 93px;
      float: left;
      margin-right: 12px; }
    ul.video-list li.video-link .content {
      display: none;
      opacity: 0;
      -webkit-transition: opacity 200ms ease-out;
      -moz-transition: opacity 200ms ease-out;
      -o-transition: opacity 200ms ease-out;
      transition: opacity 200ms ease-out; }
      ul.video-list li.video-link .content.visible {
        opacity: 1; }
    ul.video-list li.video-link ul.frag-list li.frag-link a:before {
      content: "\e072";
      font-family: 'Glyphicons Halflings';
      font-size: 0.6em;
      padding: 0 3px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }

#video-info {
  background: #fff;
  -moz-box-shadow: 0 1px 8px -2px #5d5d5d;
  -webkit-box-shadow: 0 1px 8px -2px #5d5d5d;
  box-shadow: 0 1px 8px -2px #5d5d5d;
  padding: 20px; }
  #video-info .stats-cont {
    display: flex;
    flex-direction: row; }
    #video-info .stats-cont .left-col {
      flex: 2.0; }
    #video-info .stats-cont .right-col {
      flex: 1.0; }
    #video-info .stats-cont .stat {
      margin-bottom: 5px; }
      #video-info .stats-cont .stat.little {
        display: inline-block;
        min-width: 50%;
        margin-left: -1%; }
      #video-info .stats-cont .stat .key {
        text-transform: uppercase;
        font-size: 0.8em;
        color: #2a6496; }
  #video-info div {
    line-height: 200%; }
    #video-info div .descr {
      margin-top: 10px;
      margin-bottom: 20px;
      max-height: 7.5em;
      overflow: hidden;
      padding-bottom: 10px;
      border-bottom: 1px solid #f4f4f4;
      box-sizing: content-box;
      white-space: pre-wrap;
      -webkit-transition: max-height 1000ms ease-out;
      -moz-transition: max-height 1000ms ease-out;
      -o-transition: max-height 1000ms ease-out;
      transition: max-height 1000ms ease-out;
      -moz-box-shadow: 0 7px 9px -5px #aaaaaa;
      -webkit-box-shadow: 0 7px 9px -5px #aaaaaa;
      box-shadow: 0 7px 9px -5px #aaaaaa; }
      #video-info div .descr.full {
        max-height: 100em; }
    #video-info div .see-all {
      position: relative;
      right: 0;
      top: -42px;
      float: right;
      background: #f4f4f4;
      border: 1px solid #aaaaaa;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      border-bottom: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      color: #aaaaaa;
      text-transform: uppercase;
      font-size: 0.8em;
      line-height: 1em;
      padding: 5px 15px;
      margin: 0 9px;
      opacity: 0.7;
      -webkit-transition: opacity 200ms ease-out;
      -moz-transition: opacity 200ms ease-out;
      -o-transition: opacity 200ms ease-out;
      transition: opacity 200ms ease-out; }
      #video-info div .see-all:hover {
        opacity: 1; }

.entity {
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  padding: 4px;
  background-color: #000000; }
  .entity a {
    color: #ffffff; }
  .entity.thing {
    background-color: #3fff21; }
    .entity.thing a {
      color: #000000; }
  .entity.amount {
    background-color: #09fffc; }
    .entity.amount a {
      color: #000000; }
  .entity.animal {
    background-color: #1004ff; }
  .entity.event {
    background-color: #b200ff; }
  .entity.function {
    background-color: #ff00aa; }
  .entity.location {
    background-color: #ff0040; }
  .entity.organization {
    background-color: #ff7408; }
  .entity.person {
    background-color: #fff600; }
    .entity.person a {
      color: #000000; }
  .entity.product {
    background-color: #8e5300; }
  .entity.time {
    background-color: #771ebe; }

.button-cont {
  text-align: right;
  clear: both; }

#sub-cont {
  clear: both; }

.sub-text {
  border: 1px solid #f4f4f4;
  margin: 5px 0;
  height: 200px;
  overflow: auto;
  resize: vertical; }
  .sub-text p {
    font-size: 0.9em;
    line-height: 1.8em;
    margin: 0;
    padding: 0 10px;
    font-weight: 400;
    -webkit-transition: font-weight 100ms ease-out;
    -moz-transition: font-weight 100ms ease-out;
    -o-transition: font-weight 100ms ease-out;
    transition: font-weight 100ms ease-out;
    cursor: pointer; }
    .sub-text p:nth-child(odd) {
      background: #f4f4f4; }
    .sub-text p:hover {
      font-weight: 700; }
