@import "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css";
@import "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css";
@import url(jquery.qtip.min.css);

@font-face {
    font-family: "CaviarDreams";
    src: url("fonts/CaviarDreams/CaviarDreams-webfont.eot");
    src: url("fonts/CaviarDreams/CaviarDreams-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/CaviarDreams/CaviarDreams-webfont.woff") format("woff"), url("fonts/CaviarDreams/CaviarDreams-webfont.ttf") format("truetype"), url("fonts/CaviarDreams/CaviarDreams-webfont.svg#CaviarDreams") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CaviarDreams";
    src: url("fonts/CaviarDreams/Caviar_Dreams_Bold-webfont.eot");
    src: url("fonts/CaviarDreams/Caviar_Dreams_Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/CaviarDreams/Caviar_Dreams_Bold-webfont.woff") format("woff"), url("fonts/CaviarDreams/Caviar_Dreams_Bold-webfont.ttf") format("truetype"), url("fonts/CaviarDreams/Caviar_Dreams_Bold-webfont.svg#CaviarDreams") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "CaviarDreams";
    src: url("fonts/CaviarDreams/CaviarDreams_Italic-webfont.eot");
    src: url("fonts/CaviarDreams/CaviarDreams_Italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/CaviarDreams/CaviarDreams_Italic-webfont.woff") format("woff"), url("fonts/CaviarDreams/CaviarDreams_Italic-webfont.ttf") format("truetype"), url("fonts/CaviarDreams/CaviarDreams_Italic-webfont.svg#CaviarDreams") format("svg");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "CaviarDreams";
    src: url("fonts/CaviarDreams/CaviarDreams_BoldItalic-webfont.eot");
    src: url("fonts/CaviarDreams/CaviarDreams_BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/CaviarDreams/CaviarDreams_BoldItalic-webfont.woff") format("woff"), url("fonts/CaviarDreams/CaviarDreams_BoldItalic-webfont.ttf") format("truetype"), url("fonts/CaviarDreams/CaviarDreams_BoldItalic-webfont.svg#CaviarDreams") format("svg");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "CaviarDreams";
    src: url("fonts/CaviarDreams/CaviarDreams-webfont.eot");
    src: url("fonts/CaviarDreams/CaviarDreams-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/CaviarDreams/CaviarDreams-webfont.woff") format("woff"), url("fonts/CaviarDreams/CaviarDreams-webfont.ttf") format("truetype"), url("fonts/CaviarDreams/CaviarDreams-webfont.svg#CaviarDreams") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CaviarDreams";
    src: url("fonts/CaviarDreams/Caviar_Dreams_Bold-webfont.eot");
    src: url("fonts/CaviarDreams/Caviar_Dreams_Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/CaviarDreams/Caviar_Dreams_Bold-webfont.woff") format("woff"), url("fonts/CaviarDreams/Caviar_Dreams_Bold-webfont.ttf") format("truetype"), url("fonts/CaviarDreams/Caviar_Dreams_Bold-webfont.svg#CaviarDreams") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "CaviarDreams";
    src: url("fonts/CaviarDreams/CaviarDreams_Italic-webfont.eot");
    src: url("fonts/CaviarDreams/CaviarDreams_Italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/CaviarDreams/CaviarDreams_Italic-webfont.woff") format("woff"), url("fonts/CaviarDreams/CaviarDreams_Italic-webfont.ttf") format("truetype"), url("fonts/CaviarDreams/CaviarDreams_Italic-webfont.svg#CaviarDreams") format("svg");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "CaviarDreams";
    src: url("fonts/CaviarDreams/CaviarDreams_BoldItalic-webfont.eot");
    src: url("fonts/CaviarDreams/CaviarDreams_BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/CaviarDreams/CaviarDreams_BoldItalic-webfont.woff") format("woff"), url("fonts/CaviarDreams/CaviarDreams_BoldItalic-webfont.ttf") format("truetype"), url("fonts/CaviarDreams/CaviarDreams_BoldItalic-webfont.svg#CaviarDreams") format("svg");
    font-weight: bold;
    font-style: italic;
}

/* colors */
/*font*/
.mejs-container {
    /*player control and progress bar container*/
}

.mejs-container .mejs-video {
    -moz-box-shadow: 0 1px 8px -2px #444444;
    -webkit-box-shadow: 0 1px 8px -2px #444444;
    box-shadow: 0 1px 8px -2px #444444;
}

.mejs-container .mejs-mediaelement, .mejs-container .mejs-overlay {
    position: relative;
}

.mejs-container .mejs-mediaelement video {
    position: absolute;
}

.mejs-container .mejs-layer:not(.mejs-overlay-play) {
    position: absolute;
    left: inherit;
}

.mejs-container div.mejs-controls {
    position: absolute;
    background-image: none;
    background-color: #141414;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
    /*current and total time*/
    /*progress bars*/
}

@font-face {

.mejs-container div.mejs-controls .mejs-time span {
    font-family: "CaviarDreams";
    src: url("fonts/CaviarDreams/Caviar_Dreams_Bold-webfont.eot");
    src: url("fonts/CaviarDreams/Caviar_Dreams_Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/CaviarDreams/Caviar_Dreams_Bold-webfont.woff") format("woff"), url("fonts/CaviarDreams/Caviar_Dreams_Bold-webfont.ttf") format("truetype"), url("fonts/CaviarDreams/Caviar_Dreams_Bold-webfont.svg#CaviarDreams") format("svg");
    font-weight: bold;
    font-style: normal;
}

}
.mejs-container div.mejs-controls .mejs-time-rail {
    cursor: pointer;
    /*loaded time progress bar*/
}

.mejs-container div.mejs-controls .mejs-time-rail span:not(.mejs-time-float) {
    height: 3px;
}

.mejs-container div.mejs-controls .mejs-time-rail span.mejs-time-current, .mejs-container div.mejs-controls .mejs-time-rail span.mejs-time-loaded, .mejs-container div.mejs-controls .mejs-time-rail span.mfHighlight {
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear;
}

.mejs-container div.mejs-controls .mejs-time-rail span:not(.mejs-time-float span) {
    color: #fff;
}

.mejs-container div.mejs-controls .mejs-time-rail .mejs-time-total {
    margin-top: 8px;
    background: #606060;
}

.mejs-container div.mejs-controls .mejs-time-rail .mejs-time-current {
    background: #80080C;
}

.mejs-container div.mejs-controls .mejs-time-rail .mejs-time-loaded {
    background: #a8a8a8;
}

.mejs-container div.mejs-controls .mejs-time-rail .mfHighlight {
    -moz-box-shadow: 0 0 7px 8px rgba(255, 248, 86, 0.5);
    -webkit-box-shadow: 0 0 7px 8px rgba(255, 248, 86, 0.5);
    box-shadow: 0 0 7px 8px rgba(255, 248, 86, 0.5);
}

.mejs-container div.mejs-controls .mejs-button {
    cursor: pointer;
}

.mejs-container div.mejs-controls .mejs-button button:focus {
    outline: none;
}

.mejs-container div.mejs-controls .mejs-button:hover button {
    background-image: url(/js/sfmplayer/controls_hover.png);
}

.smfplayer-container {
    margin: auto;
}

.smfplayer-overlay {
    border: none;
}

.smfplayer-overlay-dark {
    display: block;
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, 0.8);
    -webkit-transition: opacity 100ms ease-out;
    -moz-transition: opacity 100ms ease-out;
    -o-transition: opacity 100ms ease-out;
    transition: opacity 100ms ease-out;
}

.overlay-container {
    position: absolute;
    top: 0;
    bottom: 0;
}

.overlay-container:hover .smfplayer-overlay-dark {
    opacity: 0.5;
}

.mejs-overlay-play {
    /* alpha gradient on stopped video */
    background: -moz-linear-gradient(left, black 0%, rgba(0, 0, 0, 0.5) 18%, transparent 28%, transparent 78%, rgba(0, 0, 0, 0.5) 88%, black 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, black), color-stop(18%, rgba(0, 0, 0, 0.5)), color-stop(28%, transparent), color-stop(78%, transparent), color-stop(88%, rgba(0, 0, 0, 0.5)), color-stop(100%, black));
    background: -webkit-linear-gradient(left, black 0%, rgba(0, 0, 0, 0.5) 18%, transparent 28%, transparent 78%, rgba(0, 0, 0, 0.5) 88%, black 100%);
    background: -o-linear-gradient(left, black 0%, rgba(0, 0, 0, 0.5) 18%, transparent 28%, transparent 78%, rgba(0, 0, 0, 0.5) 88%, black 100%);
    background: -ms-linear-gradient(left, black 0%, rgba(0, 0, 0, 0.5) 18%, transparent 28%, transparent 78%, rgba(0, 0, 0, 0.5) 88%, black 100%);
    background: linear-gradient(to right, black 0%, rgba(0, 0, 0, 0.5) 18%, transparent 28%, transparent 78%, rgba(0, 0, 0, 0.5) 88%, black 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=1);
}

/* colors */
.clearfix:before, .nerdificable #entity-sect .entity-content div .entityList .displayEntity:before, .clearfix:after, .nerdificable #entity-sect .entity-content div .entityList .displayEntity:after {
    content: "";
    display: table;
}

.clearfix:after, .nerdificable #entity-sect .entity-content div .entityList .displayEntity:after {
    clear: both;
}

h1, h2, h3, h4, h5, h6, .navbar-brand {
    font-family: CaviarDreams, Helvetica, sans-serif;
}

ul {
    padding: 0;
    list-style: none;
}

html, body {
    background: #f4f4f4;
    height: 100%;
    margin: 0;
    padding: 0;
}

.home_header {
    background: white;
    -moz-box-shadow: 0 1px 8px -2px #5d5d5d;
    -webkit-box-shadow: 0 1px 8px -2px #5d5d5d;
    box-shadow: 0 1px 8px -2px #5d5d5d;
    margin: 0 0 30px;
    height: 300px;
    max-height: 40%;
    min-height: 120px;
    width: 100%;
    position: relative;
}

@media screen and (max-width: 767px) {
    .home_header {
        max-height: 150px;
    }
}

.home_header .HTlogo {
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-bottom: 30px;
    display: block;
    width: 100%;
}

.home_header .HTlogo .top-brand {
    margin: auto;
    display: inline-block;
}

.home_footer, .video_footer {
    width: 100%;
}

.home_footer .foo, .video_footer .foo {
    text-align: center;
}

.home_footer .foo hr, .video_footer .foo hr {
    margin: -6px 0 0 0;
}

.home_footer .foo .eurecomLogo, .home_footer .foo .mediamixerLogo, .video_footer .foo .eurecomLogo, .video_footer .foo .mediamixerLogo {
    display: inline-block;
}

.home_footer .foo .eurecomLogo img, .home_footer .foo .mediamixerLogo img, .video_footer .foo .eurecomLogo img, .video_footer .foo .mediamixerLogo img {
    padding-right: 20px;
}

.home_footer .foo .logos img, .video_footer .foo .logos img {
    padding: 4px 20px 4px 0;
    height: 55px;
    width: auto;
}

.page_cont {
    min-height: 100%;
    position: relative;
}

.home_footer {
    position: absolute;
    bottom: 0;
    max-height: 15%;
    background: white;
}

.form-switch-cont {
    text-align: center;
    margin-bottom: 40px;
}

.home_cont {
    padding-bottom: 90px;
}

.home_cont form label {
    color: #aaaaaa;
    font-weight: 100;
    font-size: 1.2em;
}

#basic-form button {
    margin-top: 1.3em;
}

#basic-form > * {
    display: block;
}

.video_footer {
    margin-top: 50px;
}

.video_footer .eurecomLogo img, .video_footer .mediamixerLogo img {
    padding: 4px 0;
    height: 55px;
    width: auto;
}

.navbar {
    background: #fff;
    margin-bottom: 0;
    position: fixed;
    z-index: 100;
    width: 100%;
    -moz-box-shadow: 0 1px 8px -2px #5d5d5d;
    -webkit-box-shadow: 0 1px 8px -2px #5d5d5d;
    box-shadow: 0 1px 8px -2px #5d5d5d;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-transition: height 100ms ease-out;
    -moz-transition: height 100ms ease-out;
    -o-transition: height 100ms ease-out;
    transition: height 100ms ease-out;
}

@media (min-width: 768px) {
    .navbar {
        height: 96px;
    }

    .navbar .navbar-brand {
        position: relative;
        height: 96px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

@media (min-width: 768px) and (min-width: 320px) {
    .navbar .navbar-brand .top-brand img {
        padding-bottom: 8px;
        height: auto;
        width: auto;
    }
}

@media (min-width: 768px) {
    .navbar .form-group {
        padding-top: 23px;
        max-width: 300px;
        -webkit-transition: padding 100ms ease-out;
        -moz-transition: padding 100ms ease-out;
        -o-transition: padding 100ms ease-out;
        transition: padding 100ms ease-out;
    }
}

.navbar .navbar-brand {
    top: -7px;
    height: 40px;
}

.navbar .top-brand img {
    height: 30px;
}

.navbar .top-brand .logo-text {
    width: 54px;
}

.navbar .top-brand .left-mark, .navbar .top-brand .right-mark {
    width: 31px;
}

.navbar .form-group {
    padding-top: 0;
}

@media (min-width: 768px) {
    .navbar.compact {
        height: 40px;
    }
}

.navbar.compact .navbar-brand {
    top: -7px;
    height: 40px;
}

.navbar.compact .top-brand img {
    height: auto;
}

.navbar.compact .top-brand .logo-text {
    width: 54px;
}

.navbar.compact .top-brand .left-mark, .navbar.compact .top-brand .right-mark {
    width: 31px;
}

.navbar.compact .form-group {
    padding-top: 0;
}

.navbar.navbar-placeholder {
    height: 96px;
    position: static;
    background: #000000;
}

.top-brand img {
    height: 66px;
    display: inline-block;
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
}

.top-brand .logo-text {
    width: 119px;
}

.top-brand.long .logo-text {
    width: auto;
}

.top-brand .left-mark, .top-brand .right-mark {
    width: 56px;
    -webkit-transition: padding 100ms ease-out;
    -moz-transition: padding 100ms ease-out;
    -o-transition: padding 100ms ease-out;
    transition: padding 100ms ease-out;
}

.top-brand .left-mark {
    padding-left: 10px;
}

.top-brand .right-mark {
    padding-right: 10px;
}

.top-brand:hover .left-mark {
    padding-left: 0;
    padding-right: 10px;
}

.top-brand:hover .right-mark {
    padding-left: 10px;
    padding-right: 0;
}

.nerdificable {
    -moz-box-shadow: 0 1px 8px -2px #5d5d5d;
    -webkit-box-shadow: 0 1px 8px -2px #5d5d5d;
    box-shadow: 0 1px 8px -2px #5d5d5d;
    background: #fff;
    max-width: 1200px;
    margin: 80px auto auto auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.nerdificable #playlist-sect {
    margin: 10px;
}

.nerdificable #entity-sect {
    margin: 10px;
    display: none;
}

.nerdificable #entity-sect .entity-content {
    line-height: 200%;
    padding: 0 10px;
}

.nerdificable #entity-sect .entity-content h3.title {
    display: block;
}

.nerdificable #entity-sect .entity-content div {
    margin-top: 1.5em;
}

.nerdificable #entity-sect .entity-content div:first-of-type {
    margin-top: 2em;
}

.nerdificable #entity-sect .entity-content div .entityType .entTypeText {
    margin: 0;
    color: #b11200;
}

@media (max-width: 768px) {
    .nerdificable #entity-sect .entity-content div .entityType .entTypeText {
        text-align: center;
    }
}

.nerdificable #entity-sect .entity-content div .entityList {
    border-left: 1px #b11200 solid;
}

@media (max-width: 768px) {
    .nerdificable #entity-sect .entity-content div .entityList {
        border-left: 0;
    }
}

.nerdificable #entity-sect .entity-content div .entityList .displayEntity {
    text-align: center;
}

.nerdificable #entity-sect .entity-content div .entityList .displayEntity li {
    display: inline-block;
}

.stat label.key {
    color: #b11200;
}

.stat .value {
    color: #f4f4f4;
}

.stat .value, .stat label.key {
    display: inline-block;
}

.red_rule {
    background-color: #b11200;
    height: 5px;
    margin-left: 0;
    text-align: left;
}

@media (max-width: 320px) {
    h1.title {
        font-size: 200%;
        margin: 0;
    }
}

@media (max-width: 240px) {
    h1.title {
        font-size: 150%;
        margin: 0;
    }
}

#player-sect {
    background: #000000;
    width: 100%;
    position: relative;
}

#player-sect .info-on-player {
    position: absolute;
    left: 0;
    top: 0;
    width: 47%;
    overflow: visible;
}

#player-sect .info-on-player .title {
    margin: 30px;
    color: #fff;
    font-weight: bold;
}

@media (max-width: 767px) {
    #player-sect .info-on-player .title {
        display: none;
    }
}

#player-sect .info-on-player .stat {
    width: 100%;
    overflow: visible;
}

@media (max-width: 767px) {
    #player-sect .info-on-player .stat {
        display: none;
    }
}

#player-sect #player-container {
    min-height: 20%;
    overflow: hidden;
    width: 100%;
}

#player-sect #player-container #video {
    width: 100%;
    min-height: 360px;
}

@media (min-width: 768px) {
    #player-sect #player-container #video {
        padding-left: 10em;
    }

    #player-sect #player-container #video .mejs-container {
        position: static;
        margin: auto;
    }
}

#player-sect #player-container #hotspots-cont {
    padding-bottom: 15px;
}

#player-sect #player-container #hotspots-cont form, #player-sect #player-container #hotspots-cont .hsProgress {
    text-align: center;
}

#player-sect #player-container #hotspots-cont form .btn-hotspot, #player-sect #player-container #hotspots-cont .hsProgress .btn-hotspot {
    background: #000000;
    border: 1px solid #f4f4f4;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    color: #f4f4f4;
}

#player-sect #player-container #hotspots-cont form .btn-hotspot:hover, #player-sect #player-container #hotspots-cont .hsProgress .btn-hotspot:hover {
    background: #b11200;
}

#player-sect #player-container #hotspots-cont .hscont {
    margin-left: 65px;
    margin-right: 65px;
}

@media (max-width: 768px) {
    #player-sect #player-container #hotspots-cont .hscont {
        width: 508px;
        margin-right: 0;
    }
}

#player-sect #player-container #hotspots-cont .hscont .pin {
    text-align: center;
    cursor: pointer;
    float: left;
    display: inline-block;
    border-bottom: 1px solid #f4f4f4;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -ms-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    position: relative;
    top: -10px;
    z-index: 101;
    min-height: 26px;
}

#player-sect #player-container #hotspots-cont .hscont .pin .qtipEnt {
    display: none;
}

#player-sect #player-container #hotspots-cont .hscont .pin img {
    position: absolute;
    left: -10px;
}

.qtip-light {
    padding-bottom: 15px;
}

.qtip-light .qtip-titlebar {
    margin-bottom: 15px;
    padding: 8px 15px;
    background: #b11200;
    color: #f4f4f4;
}

.qtip-light .qtip-titlebar .glyphicon {
    color: #f4f4f4;
    font-size: 0.9em;
}

.btn-danger {
    background: #b11200;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.chap-label {
    color: #aaaaaa;
    min-height: 20px;
    margin-top: 10px;
    text-align: center;
}

.chap-label span {
    display: inline-block;
}

.chap-label span.selected-chap-num, .chap-label span.first-part, .chap-label span.last-part {
    font-family: CaviarDreams, Helvetica, sans-serif;
    font-size: 2.6em;
}

@media (max-width: 768px) {
    .chap-label {
        text-align: center;
        min-height: 10px;
    }
}

.chap-line {
    min-height: 32px;
    margin: 20px 50px 20px 50px;
    text-align: center;
    border: 1px solid #b11200;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .chap-line {
        width: 508px;
        margin-right: 0;
    }
}

.chap-line .chap-link {
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    -o-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
    position: relative;
    height: 30px;
    background-color: #b11200;
    border-left: 4px solid #f4f4f4;
    float: left;
}

.chap-line .chap-link:nth-child(odd) {
    background-color: #fe2a05;
}

.chap-line .chap-link:first-child {
    -webkit-border-radius: 8px 0 0 8px;
    -moz-border-radius: 8px 0 0 8px;
    -ms-border-radius: 8px 0 0 8px;
    -o-border-radius: 8px 0 0 8px;
    border-radius: 8px 0 0 8px;
    border-left: none;
}

.chap-line .chap-link:last-child {
    -webkit-border-radius: 0 8px 8px 0;
    -moz-border-radius: 0 8px 8px 0;
    -ms-border-radius: 0 8px 8px 0;
    -o-border-radius: 0 8px 8px 0;
    border-radius: 0 8px 8px 0;
}

.chap-line .chap-link .chap-num {
    color: #940000;
    font-weight: 700;
    margin-bottom: 4px;
    text-shadow: 1px -1px 4px #f4f4f4;
    border-radius: 10px;
}

.chap-line .chap-link .chap-timing {
    position: absolute;
    height: 100%;
    bottom: 0;
    width: 0;
    margin-left: 50%;
    background-color: #dfafaa;
    opacity: 0.8;
    color: #dfafaa;
    overflow: hidden;
    -webkit-transition: width 200ms, margin 200ms, color 1s;
    -moz-transition: width 200ms, margin 200ms, color 1s;
    -ms-transition: width 200ms, margin 200ms, color 1s;
    transition: width 200ms, margin 200ms, color 1s;
}

.chap-line .chap-link .chap-timing h5 {
    visibility: hidden;
}

.chap-line .chap-link .chap-timing h5 .glyphicon-chevron-left, .chap-line .chap-link .chap-timing h5 .glyphicon-chevron-right {
    font-size: 1em;
}

.chap-line .chap-link.selected-chap .chap-timing {
    z-index: 1;
}

.chap-line .chap-link:hover .chap-timing {
    z-index: 2;
    -moz-box-shadow: 0 2px 8px 0 #5d5d5d;
    -webkit-box-shadow: 0 2px 8px 0 #5d5d5d;
    box-shadow: 0 2px 8px 0 #5d5d5d;
}

.chap-line .chap-link:hover, .chap-line .chap-link.selected-chap {
    background-color: rgba(223, 175, 170, 0.82);
}

.chap-line .chap-link:hover .chap-num, .chap-line .chap-link.selected-chap .chap-num {
    opacity: 0.1;
}

.chap-line .chap-link:hover .chap-timing, .chap-line .chap-link.selected-chap .chap-timing {
    cursor: pointer;
    width: 100%;
    color: #b11200;
    margin-left: 0;
    min-width: 175px;
}

.chap-line .chap-link:hover .chap-timing h5, .chap-line .chap-link.selected-chap .chap-timing h5 {
    visibility: visible;
}

@media (max-width: 767px) {
    .chap-line .chap-link:hover .chap-timing, .chap-line .chap-link.selected-chap .chap-timing {
        bottom: 30px;
        width: 175px;
        opacity: 1;
    }
}

@media (max-width: 767px) {
    .chap-line .chap-link:hover, .chap-line .chap-link.selected-chap {
        background-color: #dfafaa;
    }
}

.title, .noCont {
    color: #aaaaaa;
    z-index: 5;
    position: relative;
}

.title {
    padding-bottom: 0;
    margin: 0px 6px 15px -10px;
    display: inline-block;
}

.noCont {
    padding-bottom: 200px;
}

.noCont .glyphicon-chevron-left, .noCont .glyphicon-chevron-right {
    font-size: 1em;
}

.glyphicon-chevron-left, .glyphicon-chevron-right {
    color: #444444;
    display: inline-block;
    font-size: 2em;
}

#video {
    position: relative;
    z-index: 2;
}

div.chapterscontent {
    display: none;
    opacity: 0;
    -webkit-transition: opacity 200ms ease-out;
    -moz-transition: opacity 200ms ease-out;
    -o-transition: opacity 200ms ease-out;
    transition: opacity 200ms ease-out;
}

div.chapterscontent.visible {
    opacity: 1;
}

.video-list {
    list-style: none;
    background: #fff;
    padding: 0 10px;
}

.video-list .video-link {
    padding: 10px;
    border-top: 1px solid #aaaaaa;
    min-height: 100px;
}

.video-list .video-link:first-child {
    border-top: none;
}

.video-list .video-link h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.video-list .video-link .loader {
    height: 16px;
    width: 16px;
    margin: 30px auto;
    display: block;
}

.video-list .video-link .thumb {
    height: 70px;
    width: 93px;
    float: left;
    margin-right: 12px;
}

.video-list .video-link .content {
    display: none;
    opacity: 0;
    -webkit-transition: opacity 200ms ease-out;
    -moz-transition: opacity 200ms ease-out;
    -o-transition: opacity 200ms ease-out;
    transition: opacity 200ms ease-out;
}

.video-list .video-link .content.visible {
    opacity: 1;
}

.video-list .video-link ul.frag-list li.frag-link a:before {
    content: "\e072";
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
    padding: 0 3px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

span.wiki a {
    color: #fff;
}

#video-info-chapters {
    background: #fff;
    -moz-box-shadow: 0 1px 8px -2px #5d5d5d;
    -webkit-box-shadow: 0 1px 8px -2px #5d5d5d;
    box-shadow: 0 1px 8px -2px #5d5d5d;
    width: 100%;
    max-height: 133px;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 860px) {
    #video-info-chapters {
        max-height: 243px;
    }
}

#video-info-chapters .play-video-info {
    padding: 20px;
    margin-top: 0;
}

#video-info-chapters .play-video-info .left {
    float: left;
    width: 48%;
    display: inline-block;
}

#video-info-chapters .play-video-info .left h3 {
    font-weight: 700;
}

@media (max-width: 860px) {
    #video-info-chapters .play-video-info .left {
        width: 100%;
        text-align: center;
    }
}

#video-info-chapters .play-video-info .right {
    float: right;
    display: inline-block;
    width: 50%;
    border-left: 1px solid #b11200;
    padding-left: 2%;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 860px) {
    #video-info-chapters .play-video-info .right {
        width: 100%;
        border-top: 1px solid #b11200;
        border-left: 0;
    }
}

div.descr-cont {
    line-height: 200%;
}

div.descr-cont .descr {
    margin-top: 10px;
    margin-bottom: 20px;
    max-height: 13em;
    overflow: hidden;
    padding-bottom: 10px;
    border-bottom: 1px solid #f4f4f4;
    box-sizing: content-box;
    white-space: pre-wrap;
    -webkit-transition: max-height 1000ms ease-out;
    -moz-transition: max-height 1000ms ease-out;
    -o-transition: max-height 1000ms ease-out;
    transition: max-height 1000ms ease-out;
    -moz-box-shadow: 0 7px 9px -5px #aaaaaa;
    -webkit-box-shadow: 0 7px 9px -5px #aaaaaa;
    box-shadow: 0 7px 9px -5px #aaaaaa;
}

div.descr-cont .descr.full {
    max-height: 100em;
}

div.descr-cont .see-all {
    position: relative;
    right: 0;
    top: -42px;
    float: right;
    background: #f4f4f4;
    border: 1px solid #aaaaaa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: #aaaaaa;
    text-transform: uppercase;
    font-size: 0.8em;
    line-height: 1em;
    padding: 5px 15px;
    margin: 0 9px;
    opacity: 0.7;
    -webkit-transition: opacity 200ms ease-out;
    -moz-transition: opacity 200ms ease-out;
    -o-transition: opacity 200ms ease-out;
    transition: opacity 200ms ease-out;
}

div.descr-cont .see-all:hover {
    opacity: 1;
}

p span.entity.nesting:not(:hover) {
    color: #000000;
    background: linear-gradient(white, #cccccc);
    border: solid 1px black;
}

p span.entity.nesting:not(:hover) .entity {
    color: #000000;
    background-color: transparent;
}

p span.entity.nesting span {
    display: inline-block;
    -webkit-transition: transform 0.5s ease-out;
    -moz-transition: transform 0.5s ease-out;
    -o-transition: transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
    -webkit-transition: -webkit-transform 0.5s;
    /* For Safari 3.1 to 6.0 */
}

p span.entity.nesting:hover span {
    -webkit-transform: translate(0px, -10px);
    /* Chrome, Safari, Opera */
}

.extractor {
    font-weight: 700;
}

.entity {
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    padding: 3px;
    color: #ffffff;
    background-color: #000000;
}

.entity.list {
    margin-left: 24px;
}

.entity a {
    color: #ffffff;
}

.entity.thing {
    background-color: #15417B;
}

.entity.amount {
    color: #000000;
    background-color: #1EDC3A;
}

.entity.amount a {
    color: #000000;
}

.entity.animal {
    background-color: #DD1B4B;
}

.entity.event {
    background-color: #b200ff;
}

.entity.function {
    background-color: #F12606;
}

.entity.location {
    background-color: #F1A02A;
}

.entity.organization {
    color: #000000;
    background-color: #54B9DD;
}

.entity.organization a {
    color: #000000;
}

.entity.person {
    color: #000000;
    background-color: #EDF10B;
}

.entity.person a {
    color: #000000;
}

.entity.product {
    background-color: #5B007B;
}

.entity.time {
    color: #000000;
    background-color: #D0F181;
}

.entity.time a {
    color: #000000;
}

.button-cont {
    text-align: right;
    clear: both;
    margin-top: -45px;
    margin-bottom: 15px;
}

#sub-cont {
    clear: both;
    margin-bottom: 40px;
}

.sub-text {
    border: 1px solid #f4f4f4;
    background-color: #f4f4f4;
    margin: 5px 0;
    height: 550px;
    overflow: auto;
    resize: vertical;
    font-weight: 400;
}

@media (max-height: 568px) {
    .sub-text {
        height: 275px;
    }
}

.sub-text p {
    font-size: 0.9em;
    line-height: 1.8em;
    margin: 0;
    padding: 0 10px;
    -webkit-transition: font-weight 100ms ease-out;
    -moz-transition: font-weight 100ms ease-out;
    -o-transition: font-weight 100ms ease-out;
    transition: font-weight 100ms ease-out;
    cursor: pointer;
}

.sub-text p:hover {
    font-weight: 700;
}

.sub-text p:before {
    content: "";
    width: 8px;
    display: inline-block;
}

.sub-text p.selected-frag {
    background-color: #ffffff;
}

.sub-text p.now-playing {
    font-style: italic;
}

.sub-text p.now-playing:before {
    content: '\2022';
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: 700;
    line-height: 1em;
    color: #b11200;
}

.sub-text .subChapGroup {
    border-bottom: 1px solid #aaaaaa;
    margin-bottom: 5px;
}

.sub-text .subChapGroup:hover {
    font-weight: 700;
}

.sub-text .subChapGroup .chap-title {
    text-align: right;
    font-weight: 700;
}

.nerdFormContent {
    width: 100%;
    padding-top: 10px;
}

.nerdFormContent p {
    text-align: left;
}

.nerdFormContent .nerdForm {
    float: left;
}

.nerdFormContent .nerdForm.nerdSelect {
    width: 100%;
    margin-left: 1%;
}

.nerdFormContent .nerdForm.nerdSelect .nerdLabel {
    font-weight: 200;
}

@media (min-width: 400px) {
    .nerdFormContent .nerdForm.nerdSelect {
        width: 25%;
    }
}

.nerdFormContent .nerdForm.nerdBtn {
    padding-top: 5px;
    width: 100%;
}

@media (min-width: 400px) {
    .nerdFormContent .nerdForm.nerdBtn {
        width: 55%;
        padding-left: 5%;
        padding-top: 0;
    }
}

.errorcode {
    font-family: Arial Black, Arial, Verdana, sans-serif;
    font-weight: bold;
    font-size: 5em;
    color: #fe2a05;
    vertical-align: middle;
}

.error_header {
    text-align: center;
}
