@import "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css";
@import "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css";
@font-face {
  font-family: "CaviarDreams";
  src: url("fonts/CaviarDreams/CaviarDreams-webfont.eot");
  src: url("fonts/CaviarDreams/CaviarDreams-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/CaviarDreams/CaviarDreams-webfont.woff") format("woff"), url("fonts/CaviarDreams/CaviarDreams-webfont.ttf") format("truetype"), url("fonts/CaviarDreams/CaviarDreams-webfont.svg#CaviarDreams") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "CaviarDreams";
  src: url("fonts/CaviarDreams/Caviar_Dreams_Bold-webfont.eot");
  src: url("fonts/CaviarDreams/Caviar_Dreams_Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/CaviarDreams/Caviar_Dreams_Bold-webfont.woff") format("woff"), url("fonts/CaviarDreams/Caviar_Dreams_Bold-webfont.ttf") format("truetype"), url("fonts/CaviarDreams/Caviar_Dreams_Bold-webfont.svg#CaviarDreams") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "CaviarDreams";
  src: url("fonts/CaviarDreams/CaviarDreams_Italic-webfont.eot");
  src: url("fonts/CaviarDreams/CaviarDreams_Italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/CaviarDreams/CaviarDreams_Italic-webfont.woff") format("woff"), url("fonts/CaviarDreams/CaviarDreams_Italic-webfont.ttf") format("truetype"), url("fonts/CaviarDreams/CaviarDreams_Italic-webfont.svg#CaviarDreams") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "CaviarDreams";
  src: url("fonts/CaviarDreams/CaviarDreams_BoldItalic-webfont.eot");
  src: url("fonts/CaviarDreams/CaviarDreams_BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/CaviarDreams/CaviarDreams_BoldItalic-webfont.woff") format("woff"), url("fonts/CaviarDreams/CaviarDreams_BoldItalic-webfont.ttf") format("truetype"), url("fonts/CaviarDreams/CaviarDreams_BoldItalic-webfont.svg#CaviarDreams") format("svg");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: "CaviarDreams";
  src: url("fonts/CaviarDreams/CaviarDreams-webfont.eot");
  src: url("fonts/CaviarDreams/CaviarDreams-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/CaviarDreams/CaviarDreams-webfont.woff") format("woff"), url("fonts/CaviarDreams/CaviarDreams-webfont.ttf") format("truetype"), url("fonts/CaviarDreams/CaviarDreams-webfont.svg#CaviarDreams") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "CaviarDreams";
  src: url("fonts/CaviarDreams/Caviar_Dreams_Bold-webfont.eot");
  src: url("fonts/CaviarDreams/Caviar_Dreams_Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/CaviarDreams/Caviar_Dreams_Bold-webfont.woff") format("woff"), url("fonts/CaviarDreams/Caviar_Dreams_Bold-webfont.ttf") format("truetype"), url("fonts/CaviarDreams/Caviar_Dreams_Bold-webfont.svg#CaviarDreams") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "CaviarDreams";
  src: url("fonts/CaviarDreams/CaviarDreams_Italic-webfont.eot");
  src: url("fonts/CaviarDreams/CaviarDreams_Italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/CaviarDreams/CaviarDreams_Italic-webfont.woff") format("woff"), url("fonts/CaviarDreams/CaviarDreams_Italic-webfont.ttf") format("truetype"), url("fonts/CaviarDreams/CaviarDreams_Italic-webfont.svg#CaviarDreams") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "CaviarDreams";
  src: url("fonts/CaviarDreams/CaviarDreams_BoldItalic-webfont.eot");
  src: url("fonts/CaviarDreams/CaviarDreams_BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/CaviarDreams/CaviarDreams_BoldItalic-webfont.woff") format("woff"), url("fonts/CaviarDreams/CaviarDreams_BoldItalic-webfont.ttf") format("truetype"), url("fonts/CaviarDreams/CaviarDreams_BoldItalic-webfont.svg#CaviarDreams") format("svg");
  font-weight: bold;
  font-style: italic; }

/* colors */
/*font*/
.mejs-container {
  /*player control and progress bar container*/ }
  .mejs-container .mejs-video {
    -moz-box-shadow: 0 1px 8px -2px #444444;
    -webkit-box-shadow: 0 1px 8px -2px #444444;
    box-shadow: 0 1px 8px -2px #444444; }
  .mejs-container .mejs-mediaelement, .mejs-container .mejs-overlay {
    position: relative; }
  .mejs-container div.mejs-controls {
    position: absolute;
    background-image: none;
    background-color: #141414;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
    /*current and total time*/
    /*progress bars*/ }
    .mejs-container div.mejs-controls .mejs-time span {
      @font-face {
        font-family: "CaviarDreams";
        src: url("fonts/CaviarDreams/Caviar_Dreams_Bold-webfont.eot");
        src: url("fonts/CaviarDreams/Caviar_Dreams_Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/CaviarDreams/Caviar_Dreams_Bold-webfont.woff") format("woff"), url("fonts/CaviarDreams/Caviar_Dreams_Bold-webfont.ttf") format("truetype"), url("fonts/CaviarDreams/Caviar_Dreams_Bold-webfont.svg#CaviarDreams") format("svg");
        font-weight: bold;
        font-style: normal; }
 }
    .mejs-container div.mejs-controls .mejs-time-rail {
      cursor: pointer;
      /*loaded time progress bar*/ }
      .mejs-container div.mejs-controls .mejs-time-rail span:not(.mejs-time-float) {
        height: 3px;
        -webkit-transition: width 100ms linear;
        -moz-transition: width 100ms linear;
        -o-transition: width 100ms linear;
        transition: width 100ms linear; }
      .mejs-container div.mejs-controls .mejs-time-rail span:not(.mejs-time-float span) {
        color: #fff; }
      .mejs-container div.mejs-controls .mejs-time-rail .mejs-time-total {
        margin-top: 8px;
        background: #606060; }
      .mejs-container div.mejs-controls .mejs-time-rail .mejs-time-current {
        background: #80080C; }
      .mejs-container div.mejs-controls .mejs-time-rail .mejs-time-loaded {
        background: #a8a8a8; }
      .mejs-container div.mejs-controls .mejs-time-rail .mfHighlight {
        -moz-box-shadow: 0 0 7px 8px rgba(255, 248, 86, 0.5);
        -webkit-box-shadow: 0 0 7px 8px rgba(255, 248, 86, 0.5);
        box-shadow: 0 0 7px 8px rgba(255, 248, 86, 0.5); }
    .mejs-container div.mejs-controls .mejs-button {
      cursor: pointer; }
      .mejs-container div.mejs-controls .mejs-button button:focus {
        outline: none; }
      .mejs-container div.mejs-controls .mejs-button:hover button {
        background-image: url(/js/sfmplayer/controls_hover.png); }

.smfplayer-container {
  margin: auto; }

.smfplayer-overlay {
  border: none; }

.smfplayer-overlay-dark {
  display: block;
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: opacity 100ms ease-out;
  -moz-transition: opacity 100ms ease-out;
  -o-transition: opacity 100ms ease-out;
  transition: opacity 100ms ease-out; }

.overlay-container {
  position: absolute;
  top: 0;
  bottom: 0; }
  .overlay-container:hover .smfplayer-overlay-dark {
    opacity: 0.5; }

.mejs-overlay-play {
  /* alpha gradient on stopped video */
  background: -moz-linear-gradient(left, black 0%, rgba(0, 0, 0, 0.5) 18%, rgba(0, 0, 0, 0) 28%, rgba(0, 0, 0, 0) 78%, rgba(0, 0, 0, 0.5) 88%, black 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, black), color-stop(18%, rgba(0, 0, 0, 0.5)), color-stop(28%, rgba(0, 0, 0, 0)), color-stop(78%, rgba(0, 0, 0, 0)), color-stop(88%, rgba(0, 0, 0, 0.5)), color-stop(100%, black));
  background: -webkit-linear-gradient(left, black 0%, rgba(0, 0, 0, 0.5) 18%, rgba(0, 0, 0, 0) 28%, rgba(0, 0, 0, 0) 78%, rgba(0, 0, 0, 0.5) 88%, black 100%);
  background: -o-linear-gradient(left, black 0%, rgba(0, 0, 0, 0.5) 18%, rgba(0, 0, 0, 0) 28%, rgba(0, 0, 0, 0) 78%, rgba(0, 0, 0, 0.5) 88%, black 100%);
  background: -ms-linear-gradient(left, black 0%, rgba(0, 0, 0, 0.5) 18%, rgba(0, 0, 0, 0) 28%, rgba(0, 0, 0, 0) 78%, rgba(0, 0, 0, 0.5) 88%, black 100%);
  background: linear-gradient(to right, black 0%, rgba(0, 0, 0, 0.5) 18%, rgba(0, 0, 0, 0) 28%, rgba(0, 0, 0, 0) 78%, rgba(0, 0, 0, 0.5) 88%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=1); }

/* colors */
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }
.clearfix:after {
  clear: both; }

h1, h2, h3, h4, h5, h6, .navbar-brand {
  font-family: CaviarDreams, Helvetica, sans-serif; }

ul {
  padding: 0;
  list-style: none; }

html, body {
  background: #f4f4f4;
  height: 100%; }

.home_header {
  background: white;
  -moz-box-shadow: 0 1px 8px -2px #5d5d5d;
  -webkit-box-shadow: 0 1px 8px -2px #5d5d5d;
  box-shadow: 0 1px 8px -2px #5d5d5d;
  margin: 0 0 30px;
  height: 50%; }
  .home_header h1 {
    text-align: center;
    font-size: 4.5em;
    color: #b11200;
    margin: -0.5em auto 0;
    position: relative;
    top: 50%;
    padding: 0 40px; }

.navbar {
  background: #fff;
  margin-bottom: 0;
  -moz-box-shadow: 0 1px 8px -2px #5d5d5d;
  -webkit-box-shadow: 0 1px 8px -2px #5d5d5d;
  box-shadow: 0 1px 8px -2px #5d5d5d;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  position: fixed;
  z-index: 100;
  height: 96px;
  width: 100%; }
  .navbar .navbar-brand {
    height: 96px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .navbar .navbar-collapse .form-group {
    padding-top: 23px;
    max-width: 300px; }
  .navbar.navbar-placeholder {
    position: static; }

.nerdificable {
  -moz-box-shadow: 0 1px 8px -2px #5d5d5d;
  -webkit-box-shadow: 0 1px 8px -2px #5d5d5d;
  box-shadow: 0 1px 8px -2px #5d5d5d;
  background: #fff;
  max-width: 1200px;
  min-width: 1000px;
  margin: 80px auto auto auto;
  padding-top: 50px; }
  .nerdificable #playlist-sect {
    margin: 10px; }
  .nerdificable #entity-sect {
    margin: 10px; }
    .nerdificable #entity-sect .entity-content {
      line-height: 200%;
      padding: 0 10px; }

.top-brand img {
  height: 100%;
  display: inline-block; }
.top-brand .left-mark, .top-brand .right-mark {
  -webkit-transition: padding 100ms ease-out;
  -moz-transition: padding 100ms ease-out;
  -o-transition: padding 100ms ease-out;
  transition: padding 100ms ease-out; }
.top-brand .left-mark {
  padding-left: 10px; }
.top-brand .right-mark {
  padding-right: 10px; }
.top-brand:hover .left-mark {
  padding-left: 0;
  padding-right: 10px; }
.top-brand:hover .right-mark {
  padding-left: 10px;
  padding-right: 0; }

.red_rule {
  background-color: #b11200;
  height: 5px;
  margin-left: 0;
  text-align: left; }

#player-sect {
  background: #000000;
  width: 100%;
  position: relative; }
  #player-sect .info-on-player {
    position: absolute;
    left: 0;
    top: 0;
    width: 47%;
    overflow: auto; }
    #player-sect .info-on-player .title {
      margin: 30px;
      color: #fff;
      font-weight: bold; }
  #player-sect #player-container {
    min-height: 360px; }

#video {
  padding-left: 10em; }
  #video .mejs-container {
    position: static;
    margin: auto; }

.title {
  color: #aaaaaa;
  padding-bottom: 0;
  margin: 0px 6px 15px -10px;
  z-index: 5;
  position: relative; }

#video {
  position: relative;
  z-index: 2; }

ul.video-list {
  list-style: none;
  background: #fff;
  padding: 0 10px; }
  ul.video-list li.video-link {
    padding: 10px;
    border-top: 1px solid #aaaaaa;
    min-height: 100px; }
    ul.video-list li.video-link:first-child {
      border-top: none; }
    ul.video-list li.video-link h4 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    ul.video-list li.video-link .loader {
      height: 16px;
      width: 16px;
      margin: 30px auto;
      display: block; }
    ul.video-list li.video-link .thumb {
      height: 70px;
      width: 93px;
      float: left;
      margin-right: 12px; }
    ul.video-list li.video-link .content {
      display: none;
      opacity: 0;
      -webkit-transition: opacity 200ms ease-out;
      -moz-transition: opacity 200ms ease-out;
      -o-transition: opacity 200ms ease-out;
      transition: opacity 200ms ease-out; }
      ul.video-list li.video-link .content.visible {
        opacity: 1; }
    ul.video-list li.video-link ul.frag-list li.frag-link a:before {
      content: "\e072";
      font-family: 'Glyphicons Halflings';
      font-size: 0.6em;
      padding: 0 3px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }

#video-info {
  background: #fff;
  -moz-box-shadow: 0 1px 8px -2px #5d5d5d;
  -webkit-box-shadow: 0 1px 8px -2px #5d5d5d;
  box-shadow: 0 1px 8px -2px #5d5d5d;
  padding: 20px; }
  #video-info .stats-cont {
    display: flex;
    flex-direction: row; }
    #video-info .stats-cont .left-col {
      flex: 2.0; }
    #video-info .stats-cont .right-col {
      flex: 1.0; }
    #video-info .stats-cont .stat {
      margin-bottom: 5px; }
      #video-info .stats-cont .stat.little {
        display: inline-block;
        min-width: 50%;
        margin-left: -1%; }
      #video-info .stats-cont .stat .key {
        text-transform: uppercase;
        font-size: 0.8em;
        color: #b11200; }

div.descr-cont {
  line-height: 200%; }
  div.descr-cont .descr {
    margin-top: 10px;
    margin-bottom: 20px;
    max-height: 13em;
    overflow: hidden;
    padding-bottom: 10px;
    border-bottom: 1px solid #f4f4f4;
    box-sizing: content-box;
    white-space: pre-wrap;
    -webkit-transition: max-height 1000ms ease-out;
    -moz-transition: max-height 1000ms ease-out;
    -o-transition: max-height 1000ms ease-out;
    transition: max-height 1000ms ease-out;
    -moz-box-shadow: 0 7px 9px -5px #aaaaaa;
    -webkit-box-shadow: 0 7px 9px -5px #aaaaaa;
    box-shadow: 0 7px 9px -5px #aaaaaa; }
    div.descr-cont .descr.full {
      max-height: 100em; }
  div.descr-cont .see-all {
    position: relative;
    right: 0;
    top: -42px;
    float: right;
    background: #f4f4f4;
    border: 1px solid #aaaaaa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: #aaaaaa;
    text-transform: uppercase;
    font-size: 0.8em;
    line-height: 1em;
    padding: 5px 15px;
    margin: 0 9px;
    opacity: 0.7;
    -webkit-transition: opacity 200ms ease-out;
    -moz-transition: opacity 200ms ease-out;
    -o-transition: opacity 200ms ease-out;
    transition: opacity 200ms ease-out; }
    div.descr-cont .see-all:hover {
      opacity: 1; }

p span.entity.nesting:not(:hover) {
  color: #000000;
  background: linear-gradient(white, #cccccc);
  border: solid 1px black; }
  p span.entity.nesting:not(:hover) .entity {
    color: #000000;
    background-color: transparent; }
p span.entity.nesting:hover #nestEntity {
  -webkit-transform: translate(0px, -25px) rotate(-5deg);
  /* Chrome, Safari, Opera */
  -webkit-transform-origin: top left 0;
  transform: rotate(-40deg);
  transform-origin: top left 0; }

#nestEntity {
  display: inline-block;
  -webkit-transition: -webkit-transform 0.5s;
  /* For Safari 3.1 to 6.0 */
  transition: transform 0.5s; }

.entity {
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  padding: 3px;
  color: #ffffff;
  background-color: #000000; }
  .entity a {
    color: #ffffff; }
  .entity.thing {
    color: #000000;
    background-color: #3fff21; }
    .entity.thing a {
      color: #000000; }
  .entity.amount {
    color: #000000;
    background-color: #09fffc; }
    .entity.amount a {
      color: #000000; }
  .entity.animal {
    background-color: #1004ff; }
  .entity.event {
    background-color: #b200ff; }
  .entity.function {
    background-color: #ff00aa; }
  .entity.location {
    background-color: #ff0040; }
  .entity.organization {
    background-color: #ff7408; }
  .entity.person {
    color: #000000;
    background-color: #fff600; }
    .entity.person a {
      color: #000000; }
  .entity.product {
    background-color: #8e5300; }
  .entity.time {
    background-color: #771ebe; }

.button-cont {
  text-align: right;
  clear: both;
  margin-top: -45px;
  margin-bottom: 15px; }

#sub-cont {
  clear: both;
  margin-bottom: 50px; }

.sub-text {
  border: 1px solid #f4f4f4;
  margin: 5px 0;
  height: 200px;
  overflow: auto;
  resize: vertical; }
  .sub-text p {
    font-size: 0.9em;
    line-height: 1.8em;
    margin: 0;
    padding: 0 10px;
    font-weight: 400;
    -webkit-transition: font-weight 100ms ease-out;
    -moz-transition: font-weight 100ms ease-out;
    -o-transition: font-weight 100ms ease-out;
    transition: font-weight 100ms ease-out;
    cursor: pointer; }
    .sub-text p:hover {
      font-weight: 700; }
