@import "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css";
@import "font";
@import "mixins";

/* colors */
$light_gray: #f4f4f4;
$gray: #929292;
$darker_gray: #444444;
$red: #ff0000;
/*font*/
$caviar: CaviarDreams, Helvetica, sans-serif;

.mejs-container {

  .mejs-video {
    @include box-shadow(0, 1px, 8px, -2px, $darker_gray);
  }
  .mejs-mediaelement, .mejs-overlay {
    position: relative;
  }
  .mejs-mediaelement video{
    position: absolute;
  }

  .mejs-layer:not(.mejs-overlay-play){
    position: absolute;
    left: inherit;
  }

  /*player control and progress bar container*/
  div.mejs-controls {
    position: absolute;
    background: {
      image: none;
      color: #141414;
      color: rgba(0, 0, 0, 0.7);
    }
    z-index: 100;

    /*current and total time*/
    .mejs-time span {
      @include font-face(CaviarDreams, Caviar_Dreams_Bold-webfont, bold);
    }

    /*progress bars*/
    .mejs-time-rail {
      cursor: pointer;
      span {
        &:not(.mejs-time-float) {
          height: 3px;
        }
        &.mejs-time-current, &.mejs-time-loaded, &.mfHighlight {
          @include linear-transition(all, 100ms);
        }
        &:not(.mejs-time-float span) {
          color: #fff;
        }
      }
      .mejs-time-total {
        margin-top: 8px;
        background: #606060;
      }
      .mejs-time-current {
        background: #80080C;
      }

      /*loaded time progress bar*/
      .mejs-time-loaded {
        background: #a8a8a8;
      }
      .mfHighlight {
        @include box-shadow(0, 0, 7px, 8px, rgba(255, 248, 86, 0.5));
      }
    }

    .mejs-button {
      cursor: pointer;
      button:focus {
        outline: none;
      }
      &:hover button {
        background-image: url(/js/sfmplayer/controls_hover.png);
      }
    }
  }

}

.smfplayer-container {
  margin: auto;
}

.smfplayer-overlay {
  border: none;
}

.smfplayer-overlay-dark {
  display: block;
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, .8);
  @include transition(opacity, 100ms);
}

.overlay-container {
  @media (min-width: 768px) {
  }

  position: absolute;
  top: 0;
  bottom: 0;
  &:hover .smfplayer-overlay-dark {
    opacity: 0.5;
  }
}

.mejs-overlay-play {
  /* alpha gradient on stopped video */
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 18%, rgba(0, 0, 0, 0) 28%,
          rgba(0, 0, 0, 0) 78%, rgba(0, 0, 0, 0.5) 88%, rgba(0, 0, 0, 1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 1)),
          color-stop(18%, rgba(0, 0, 0, 0.5)), color-stop(28%, rgba(0, 0, 0, 0)), color-stop(78%, rgba(0, 0, 0, 0)),
          color-stop(88%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 1)));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 18%, rgba(0, 0, 0, 0) 28%,
          rgba(0, 0, 0, 0) 78%, rgba(0, 0, 0, 0.5) 88%, rgba(0, 0, 0, 1) 100%);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 18%, rgba(0, 0, 0, 0) 28%,
          rgba(0, 0, 0, 0) 78%, rgba(0, 0, 0, 0.5) 88%, rgba(0, 0, 0, 1) 100%);
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 18%, rgba(0, 0, 0, 0) 28%,
          rgba(0, 0, 0, 0) 78%, rgba(0, 0, 0, 0.5) 88%, rgba(0, 0, 0, 1) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 18%, rgba(0, 0, 0, 0) 28%,
          rgba(0, 0, 0, 0) 78%, rgba(0, 0, 0, 0.5) 88%, rgba(0, 0, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=1);
}
